<h1>목차<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#각-요소별-데이터-그룹바이하기" data-toc-modified-id="각-요소별-데이터-그룹바이하기-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>각 요소별 데이터 그룹바이하기</a></span></li><li><span><a href="#칼럼명-바꾸기" data-toc-modified-id="칼럼명-바꾸기-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>칼럼명 바꾸기</a></span></li><li><span><a href="#검증" data-toc-modified-id="검증-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>검증</a></span></li><li><span><a href="#오류난-것들...기록" data-toc-modified-id="오류난-것들...기록-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>오류난 것들...기록</a></span></li><li><span><a href="#가로등-데이터:-세종특별자치시-결측치-대체" data-toc-modified-id="가로등-데이터:-세종특별자치시-결측치-대체-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>가로등 데이터: 세종특별자치시 결측치 대체</a></span></li><li><span><a href="#다시-합치기.." data-toc-modified-id="다시-합치기..-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>다시 합치기..</a></span></li><li><span><a href="#city-충복치-확인-후-지우기" data-toc-modified-id="city-충복치-확인-후-지우기-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>city 충복치 확인 후 지우기</a></span></li><li><span><a href="#nan값을-제외하고-정수형으로-바꾸기-시도-(실패함-ㅠ.ㅜ)" data-toc-modified-id="nan값을-제외하고-정수형으로-바꾸기-시도-(실패함-ㅠ.ㅜ)-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>nan값을 제외하고 정수형으로 바꾸기 시도 (실패함 ㅠ.ㅜ)</a></span></li><li><span><a href="#city와-state에-시도명이-겹치지-않는지-확인하기" data-toc-modified-id="city와-state에-시도명이-겹치지-않는지-확인하기-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>city와 state에 시도명이 겹치지 않는지 확인하기</a></span></li><li><span><a href="#new_state값이-모두-올바른지-확인" data-toc-modified-id="new_state값이-모두-올바른지-확인-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>new_state값이 모두 올바른지 확인</a></span></li><li><span><a href="#올바르지-않은-값들-확인하기" data-toc-modified-id="올바르지-않은-값들-확인하기-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>올바르지 않은 값들 확인하기</a></span></li><li><span><a href="#데이터를-고치기-위한-df만들기" data-toc-modified-id="데이터를-고치기-위한-df만들기-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>데이터를 고치기 위한 df만들기</a></span></li><li><span><a href="#df3의-state,-city가-df2의-state,-city-와-같으면-df3에-df2를-더해주기" data-toc-modified-id="df3의-state,-city가-df2의-state,-city-와-같으면-df3에-df2를-더해주기-13"><span class="toc-item-num">13&nbsp;&nbsp;</span>df3의 state, city가 df2의 state, city 와 같으면 df3에 df2를 더해주기</a></span></li><li><span><a href="#잘못된-데이터-drop-후-확인" data-toc-modified-id="잘못된-데이터-drop-후-확인-14"><span class="toc-item-num">14&nbsp;&nbsp;</span>잘못된 데이터 drop 후 확인</a></span></li><li><span><a href="#세종시-00면-데이터를-세종특별자치시-데이터-하나로-통일하기" data-toc-modified-id="세종시-00면-데이터를-세종특별자치시-데이터-하나로-통일하기-15"><span class="toc-item-num">15&nbsp;&nbsp;</span>세종시 00면 데이터를 세종특별자치시 데이터 하나로 통일하기</a></span></li><li><span><a href="#시도별-top5-데이터-선별하기" data-toc-modified-id="시도별-top5-데이터-선별하기-16"><span class="toc-item-num">16&nbsp;&nbsp;</span>시도별 top5 데이터 선별하기</a></span></li><li><span><a href="#top5-데이터만-모아서-결합하기" data-toc-modified-id="top5-데이터만-모아서-결합하기-17"><span class="toc-item-num">17&nbsp;&nbsp;</span>top5 데이터만 모아서 결합하기</a></span></li><li><span><a href="#데이터-개수-확인" data-toc-modified-id="데이터-개수-확인-18"><span class="toc-item-num">18&nbsp;&nbsp;</span>데이터 개수 확인</a></span></li></ul></div>

### 각 요소별 데이터 그룹바이하기

In [3]:
import pandas as pd
df_cctv = pd.read_csv('./cctvdf_fin_2.csv', encoding='cp949')
df_sclight = pd.read_csv('./df_sclight.csv', encoding='cp949')
df_smalight = pd.read_csv('./df_smalight.csv', encoding='cp949')
df_strlamp = pd.read_csv('./df_strlamp.csv', encoding='cp949')
df_crime = pd.read_csv('./df_crime.csv')

In [4]:
# 데이터 확인
df_cctv

,address,state,city,lat,long,install_cnt,date
0,강원도 고성군 간성읍 신안리 254-18,강원도,고성군,38.379088,128.470971,1,2020-07-01
1,강원도 고성군 간성읍 신안리 254-18,강원도,고성군,38.379088,128.470971,1,2020-07-01
2,강원도 고성군 운봉리,강원도,고성군,38.287864,128.519409,1,2020-07-01
3,강원도 고성군 간성읍 간성로 70,강원도,고성군,38.379515,128.467187,1,2020-07-01
4,강원도 고성군 간성읍 간성로 70,강원도,고성군,38.379515,128.467187,1,2020-07-01
...,...,...,...,...,...,...,...
283482,세종특별자치시 보듬3로 15 (도담동),세종특별자치시,도담동,36.512413,127.258024,1,2021-10-01
283483,세종특별자치시 보듬5로 15 (도담동),세종특별자치시,도담동,36.516073,127.257219,1,2021-10-01
283484,세종특별자치시 보듬7로 1 (도담동),세종특별자치시,도담동,36.517906,127.258179,1,2021-10-01
283485,세종특별자치시 세종 조치원읍 남리 84,세종특별자치시,조치원읍,36.595287,127.303549,1,2021-10-01
283486,세종특별자치시 보듬7로 1 (도담동),세종특별자치시,도담동,36.518255,127.258233,1,2021-10-01

In [5]:
df_sclight

,address,state,city,lat,long,install_cnt,date,avg_pop_density
0,강원도 강릉시 장현동 463-1,강원도,강릉시,37.728580,128.887487,1,2022-07-20,90.36
1,강원도 강릉시 장현동 40-1,강원도,강릉시,37.732262,128.900575,1,2022-07-20,90.36
2,강원도 강릉시 장현동 97-2,강원도,강릉시,37.730126,128.900761,1,2022-07-20,90.36
3,강원도 강릉시 담산동 55-1,강원도,강릉시,37.717822,128.904406,1,2022-07-20,90.36
4,강원도 강릉시 담산동 55-1,강원도,강릉시,37.717822,128.904406,1,2022-07-20,90.36
...,...,...,...,...,...,...,...,...
1688370,충청북도 충주시 수안보면 온천리 111-2,충청북도,충주시,36.845823,127.994736,1,2022-05-31,219.20
1688371,충청북도 충주시 수안보면 온천리 131-2,충청북도,충주시,36.845097,127.994223,1,2022-05-31,219.20
1688372,충청북도 충주시 수안보면 온천리 산2-3,충청북도,충주시,36.845238,127.999317,1,2022-05-31,219.20
1688373,충청북도 충주시 수안보면 안보리 산1-12,충청북도,충주시,36.845208,128.000003,1,2022-05-31,219.20
1688374,충청북도 충주시 수안보면 안보리 579-2,충청북도,충주시,36.844581,128.001291,1,2022-05-31,219.20

In [6]:
df_smalight

,address,state,city,lat,long,install_cnt,date
0,도척면 궁평리 269-12 답,경기도,광주시,37.338009,127.322730,NaN,2021-08-24
1,도척면 진우리 912-11구,경기도,광주시,37.307716,127.357983,NaN,2021-08-24
2,도척면 상림리 99-4도,경기도,광주시,37.317668,127.305199,NaN,2021-08-24
3,도척면 궁평리 917도,경기도,광주시,37.343562,127.320075,NaN,2021-08-24
4,도척면 궁평리 894-130천,경기도,광주시,37.335860,127.325204,NaN,2021-08-24
...,...,...,...,...,...,...,...
73708,인천광역시 귤현동 145-14,인천광역시,계양구,37.535750,126.753260,NaN,2022-06-01
73709,인천광역시 귤현동 145-14,인천광역시,계양구,37.535750,126.753260,NaN,2022-11-01
73710,인천광역시 동양동 612-10,인천광역시,계양구,37.532144,126.711930,NaN,2022-11-01
73711,전라남도 구례꾼 구례읍 봉북리 537-12,전라남도,구례군,35.220362,127.467767,NaN,2022-12-05
73712,전라남도 구례꾼 구례읍 봉북리 1427-3,전라남도,구례군,35.219053,127.468991,NaN,2022-12-05

In [7]:
df_strlamp

    state  city  install_cnt        date
0   부산광역시    동구         2900         NaN
1   부산광역시   동래구         4532         NaN
2   부산광역시    북구         4521         NaN
3   부산광역시   강서구        19623         NaN
4   부산광역시    진구         8258  2022-10-18
..    ...   ...          ...         ...
92  대전광역시   유성구        17266         NaN
93  대전광역시    중구         4958         NaN
94   전라북도   군산시        16668         NaN
95    제주도   제주시        43465         NaN
96    제주도  서귀포시        29567         NaN

[97 rows x 4 columns]

In [8]:
df_crime

      state  crime_rate
0       강원도      0.0271
1       경기도      0.2489
2      경상남도      0.0722
3      경상북도      0.0451
4     광주광역시      0.0283
5     대구광역시      0.0494
6     대전광역시      0.0307
7     부산광역시      0.0767
8     서울특별시      0.1929
9   세종특별자치시      0.0041
10    울산광역시      0.0136
11    인천광역시      0.0587
12     전라남도      0.0343
13     전라북도      0.0324
14  제주특별자치도      0.0189
15     충청남도      0.0368
16     충청북도      0.0299

In [130]:
# df_cctv['install_cnt'] = 1
#df_smalight['install_cnt'] = 1

In [9]:
df_smalight.loc[df_smalight.state == '서울특별시시', 'state'] = '서울특별시'

In [10]:
df_smalight.loc[df_smalight.city == '동대문고','city'] = '동대문구'
df_smalight.loc[df_smalight.city == '남부소방서', 'city'] = '남구'
df_smalight.loc[df_smalight.city == '남산초등학교', 'city'] = '남구'

In [11]:
df_strlamp.loc[df_strlamp.state == '제주도', 'state'] = '제주특별자치도'

In [12]:
df_sclight.loc[df_sclight.city == '유성군', 'city'] = '유성구'

In [13]:
df_sclight.loc[df_sclight.city == '유성군']

Empty DataFrame
Columns: [address, state, city, lat, long, install_cnt, date, avg_pop_density]
Index: []

In [15]:
a = {'install_cnt':'sum',

    }

b = {'install_cnt':'sum',
     
    }
c = {'install_cnt':'sum',
     'avg_pop_density':'mean'
    }
groupby_cctv = df_cctv.groupby(['state', 'city',], as_index=False).agg(a)
groupby_sclight = df_sclight.groupby(['state', 'city'], as_index=False).agg(c)
groupby_smalight = df_smalight.groupby(['state', 'city'], as_index=False).agg(a)
groupby_strlamp = df_strlamp.groupby(['state', 'city'], as_index=False).agg(b)

In [16]:
groupby_cctv

    state city  install_cnt
0     강원도  강릉시         1699
1     강원도  고성군          422
2     강원도  동해시          330
3     강원도  삼척시          932
4     강원도  속초시          441
..    ...  ...          ...
247  충청북도  제천시          979
248  충청북도  증평군          910
249  충청북도  진천군          692
250  충청북도  청주시            9
251  충청북도  충주시         1578

[252 rows x 3 columns]

In [17]:
groupby_sclight

    state city  install_cnt  avg_pop_density
0     강원도  강릉시        12301            90.36
1     강원도  근남면            1            90.36
2     강원도  동해시         4555            90.36
3     강원도  삼척시         7813            90.36
4     강원도  속초시         3118            90.36
..    ...  ...          ...              ...
228  충청북도  제천시         9024           219.20
229  충청북도  증평군         3869           219.20
230  충청북도  진천군            2           219.20
231  충청북도  청주시        25432           219.20
232  충청북도  충주시        10600           219.20

[233 rows x 4 columns]

In [18]:
groupby_smalight

    state city  install_cnt
0     강원도  강릉시          0.0
1     강원도  고성군          0.0
2     강원도  동해시          0.0
3     강원도  삼척시          0.0
4     강원도  양구군          0.0
..    ...  ...          ...
207  충청북도  음성군          0.0
208  충청북도  제천시          0.0
209  충청북도  증평군          0.0
210  충청북도  청원군          0.0
211  충청북도  충주시          0.0

[212 rows x 3 columns]

In [19]:
groupby_strlamp

   state city  install_cnt
0    강원도  춘천시        12850
1    경기도  고양시           42
2    경기도  광주시         7529
3    경기도  김포시        19499
4    경기도  수원시        24704
..   ...  ...          ...
91  충청남도  부여군           10
92  충청남도  서산시          100
93  충청남도  아산시           47
94  충청남도  홍성군          100
95  충청북도  진천군          121

[96 rows x 3 columns]

### 칼럼명 바꾸기

In [20]:
col_cctv = ['state', 'city', 'cctv_cnt']
col_sclight = ['state', 'city', 'sclight_cnt', 'avg_pop_density']
col_smalight = ['state', 'city', 'smalight_cnt']
col_strlamp = ['state', 'city', 'strlamp_cnt']

In [21]:
groupby_cctv.columns = col_cctv
groupby_sclight.columns = col_sclight
groupby_smalight.columns = col_smalight
groupby_strlamp.columns = col_strlamp

In [22]:
groupby_cctv

    state city  cctv_cnt
0     강원도  강릉시      1699
1     강원도  고성군       422
2     강원도  동해시       330
3     강원도  삼척시       932
4     강원도  속초시       441
..    ...  ...       ...
247  충청북도  제천시       979
248  충청북도  증평군       910
249  충청북도  진천군       692
250  충청북도  청주시         9
251  충청북도  충주시      1578

[252 rows x 3 columns]

In [62]:
groupby_smalight

    state city  smalight_cnt
0     강원도  강릉시            64
1     강원도  고성군            94
2     강원도  동해시           184
3     강원도  삼척시            46
4     강원도  양구군            22
..    ...  ...           ...
207  충청북도  음성군           353
208  충청북도  제천시           314
209  충청북도  증평군             8
210  충청북도  청원군             1
211  충청북도  충주시           219

[212 rows x 3 columns]

In [63]:
groupby_strlamp

   state city  strlamp_cnt
0    강원도  춘천시        12850
1    경기도  고양시           42
2    경기도  광주시         7529
3    경기도  김포시        19499
4    경기도  수원시        24704
..   ...  ...          ...
91  충청남도  부여군           10
92  충청남도  서산시          100
93  충청남도  아산시           47
94  충청남도  홍성군          100
95  충청북도  진천군          121

[96 rows x 3 columns]

In [64]:
groupby_sclight

    state city  sclight_cnt  avg_pop_density
0     강원도  강릉시        12301            90.36
1     강원도  근남면            1            90.36
2     강원도  동해시         4555            90.36
3     강원도  삼척시         7813            90.36
4     강원도  속초시         3118            90.36
..    ...  ...          ...              ...
228  충청북도  제천시         9024           219.20
229  충청북도  증평군         3869           219.20
230  충청북도  진천군            2           219.20
231  충청북도  청주시        25432           219.20
232  충청북도  충주시        10600           219.20

[233 rows x 4 columns]

In [140]:
groupby_sclight.isnull().sum()

state              0
city               0
sclight_cnt        0
avg_pop_density    2
dtype: int64

In [143]:
groupby_sclight.avg_pop_density == None

0      False
1      False
2      False
3      False
4      False
       ...
228    False
229    False
230    False
231    False
232    False
Name: avg_pop_density, Length: 233, dtype: bool

In [33]:
df_crime

      state  crime_rate
0       강원도      0.0271
1       경기도      0.2489
2      경상남도      0.0722
3      경상북도      0.0451
4     광주광역시      0.0283
5     대구광역시      0.0494
6     대전광역시      0.0307
7     부산광역시      0.0767
8     서울특별시      0.1929
9   세종특별자치시      0.0041
10    울산광역시      0.0136
11    인천광역시      0.0587
12     전라남도      0.0343
13     전라북도      0.0324
14  제주특별자치도      0.0189
15     충청남도      0.0368
16     충청북도      0.0299

In [65]:
# concat을 했더니 결측값이 들어가는 문제가 발생 -> merge로 방향 선회
# pd.concat([groupby_cctv, groupby_sclight, groupby_smalight, groupby_strlamp], axis=1)
df1 = pd.merge(groupby_cctv, groupby_sclight, how = 'outer', on=['state', 'city'])
df2 = pd.merge(df1, groupby_smalight, how = 'outer', on=['state', 'city'])
df3 = pd.merge(df2, groupby_strlamp, how = 'outer', on=['state', 'city'])
df4 = pd.merge(df3, df_crime, how = 'outer', on='state')

df4

,state,city,cctv_cnt,sclight_cnt,avg_pop_density,smalight_cnt,strlamp_cnt,crime_rate
0,강원도,강릉시,1699.0,12301.0,90.36,64.0,NaN,0.0271
1,강원도,고성군,422.0,NaN,NaN,94.0,NaN,0.0271
2,강원도,동해시,330.0,4555.0,90.36,184.0,NaN,0.0271
3,강원도,삼척시,932.0,7813.0,90.36,46.0,NaN,0.0271
4,강원도,속초시,441.0,3118.0,90.36,NaN,NaN,0.0271
...,...,...,...,...,...,...,...,...
272,충청북도,증평군,910.0,3869.0,219.20,8.0,NaN,0.0299
273,충청북도,진천군,692.0,2.0,219.20,NaN,121.0,0.0299
274,충청북도,청주시,9.0,25432.0,219.20,NaN,NaN,0.0299
275,충청북도,충주시,1578.0,10600.0,219.20,219.0,NaN,0.0299
276,충청북도,청원군,NaN,NaN,NaN,1.0,NaN,0.0299

### 검증

In [ ]:
check_cctv = df_cctv.city.unique().tolist()
check_sclight = df_sclight.city.unique().tolist()
check_smalight = df_smalight.city.unique().tolist()
check_strlamp = df_strlamp.city.unique().tolist()

# check_cctv
# check_sclight
# check_smalight
# check_strlamp

In [ ]:
check_all = set(check_cctv + check_sclight + check_smalight + check_strlamp)
len(check_all)
check_all

In [ ]:
len(df3.city.unique())

In [ ]:
check_1 = df3.city.unique().tolist()
check_2 = check_all - set(check_1)
len(check_2)
check_2

In [ ]:
check_1

In [ ]:
df3.to_csv('./final_concat')

In [ ]:
# end-of-file

### 오류난 것들...기록

In [ ]:
df_strlamp.loc[df_strlamp.city.isnull()]

In [ ]:
df_strlamp.loc[df_strlamp.state == '세종특별자치시']

In [ ]:
df_strlamp.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
df_strlamp.to_csv('C:/Users/TECH2_24/DATA_VIS/df_strlamp.csv', encoding='cp949', index=False)

### 가로등 데이터: 세종특별자치시 결측치 대체
*  KOSIS: 세종특별자치시 행정구역 면적 -> '면적/총면적' 계산 (in Excel) 
https://kosis.kr/statHtml/statHtml.do?orgId=208&tblId=DT_20802N_001&vw_cd=MT_OTITLE&list_id=208_BA208_SA&scrId=&seqNo=&lang_mode=ko&obj_var_id=&itm_id=&conn_path=K2&path=%252Fcommon%252Fmeta_onedepth.jsp

*  가로등(원래 구글드라이브에 올려준 전처리 끝난 데이터, df_strlamp): '면적/총면적' * '가로등 개수' 로 배분 및 대체 (in Excel)

In [ ]:
df_strlamp_final = pd.read_csv('./df_strlamp.csv', encoding='cp949')
df_strlamp_final

### 다시 합치기..

In [ ]:
b = {'install_cnt':'sum',
     
    }

groupby_strlamp = df_strlamp_final.groupby(['state', 'city'], as_index=False).agg(b)
groupby_strlamp

### city 충복치 확인 후 지우기
* state는 다르지만 city가 같은 데이터가 중복되는 문제 발생
* 세종특별자치시에서 city가 중복된 3개 지움

In [29]:
df

,state,city,cctv_cnt,sclight_cnt,smalight_cnt,strlamp_cnt,crime_rate,avg_pop_density,new_state
0,강원도,강릉시,1699,12301,64,99994,0.0271,90.36,강원도 강릉시
1,강원도,고성군,422,99992,94,99994,0.0271,90.36,강원도 고성군
2,강원도,동해시,330,4555,184,99994,0.0271,90.36,강원도 동해시
3,강원도,삼척시,932,7813,46,99994,0.0271,90.36,강원도 삼척시
4,강원도,속초시,441,3118,99993,99994,0.0271,90.36,강원도 속초시
5,강원도,양구군,296,190,22,99994,0.0271,90.36,강원도 양구군
6,강원도,양양군,347,4391,40,99994,0.0271,90.36,강원도 양양군
7,강원도,영월군,281,2,99993,99994,0.0271,90.36,강원도 영월군
8,강원도,원주시,2820,10937,986,99994,0.0271,90.36,강원도 원주시
9,강원도,인제군,280,2034,99993,99994,0.0271,90.36,강원도 인제군
10,강원도,정선군,515,99992,13,99994,0.0271,90.36,강원도 정선군
11,강원도,철원군,684,3776,99993,99994,0.0271,90.36,강원도 철원군
12,강원도,춘천시,955,11336,27,12850,0.0271,90.36,강원도 춘천시
13,강원도,태백시,216,3077,56,99994,0.0271,90.36,강원도 태백시
14,강원도,평창군,190,6747,99993,99994,0.0271,90.36,강원도 평창군
15,강원도,홍천군,428,1191,37,99994,0.0271,90.36,강원도 홍천군
16,강원도,화천군,239,99992,99993,99994,0.0271,90.36,강원도 화천군
17,강원도,횡성군,779,8165,99993,99994,0.0271,90.36,강원도 횡성군
18,강원도,근남면,99991,1,99993,99994,0.0271,90.36,강원도 근남면
19,강원도,철원읍,99991,10,99993,99994,0.0271,90.36,강원도 철원읍
20,경기도,고양시,1945,12095,165,42,0.2489,1303.40,경기도 고양시
21,경기도,과천시,346,1118,195,99994,0.2489,1303.40,경기도 과천시
22,경기도,광명시,781,2251,121,99994,0.2489,1303.40,경기도 광명시
23,경기도,광주시,2609,13306,6596,7529,0.2489,1303.40,경기도 광주시
24,경기도,구리시,608,3241,23,99994,0.2489,1303.40,경기도 구리시
25,경기도,군포시,826,2616,781,99994,0.2489,1303.40,경기도 군포시
26,경기도,김포시,1394,499,956,19499,0.2489,1303.40,경기도 김포시
27,경기도,남양주시,4769,14346,2895,99994,0.2489,1303.40,경기도 남양주시
28,경기도,동두천시,472,3161,434,99994,0.2489,1303.40,경기도 동두천시
29,경기도,부천시,2052,19365,50,99994,0.2489,1303.40,경기도 부천시
30,경기도,성남시,2958,10253,2652,99994,0.2489,1303.40,경기도 성남시
31,경기도,수원시,4358,15994,203,24704,0.2489,1303.40,경기도 수원시
32,경기도,시흥시,1760,10621,1538,99994,0.2489,1303.40,경기도 시흥시
33,경기도,안산시,2600,12933,2404,21173,0.2489,1303.40,경기도 안산시
34,경기도,안성시,1404,19944,12,99994,0.2489,1303.40,경기도 안성시
35,경기도,안양시,2371,99992,1425,99994,0.2489,1303.40,경기도 안양시
36,경기도,양주시,1299,9987,982,99994,0.2489,1303.40,경기도 양주시
37,경기도,양평군,2551,10000,321,1830,0.2489,1303.40,경기도 양평군
38,경기도,여주시,667,7984,42,99994,0.2489,1303.40,경기도 여주시
39,경기도,연천군,530,4675,147,99994,0.2489,1303.40,경기도 연천군
40,경기도,오산시,650,8091,17,99994,0.2489,1303.40,경기도 오산시
41,경기도,용인시,2173,19949,99993,99994,0.2489,1303.40,경기도 용인시
42,경기도,의왕시,1339,2221,55,10462,0.2489,1303.40,경기도 의왕시
43,경기도,의정부시,1723,4881,30,99994,0.2489,1303.40,경기도 의정부시
44,경기도,이천시,6423,11111,706,99994,0.2489,1303.40,경기도 이천시
45,경기도,파주시,3594,4604,6817,99994,0.2489,1303.40,경기도 파주시
46,경기도,평택시,2321,10561,1740,99994,0.2489,1303.40,경기도 평택시
47,경기도,포천시,1400,10000,34,99994,0.2489,1303.40,경기도 포천시
48,경기도,하남시,1867,3448,633,99994,0.2489,1303.40,경기도 하남시
49,경기도,화성시,11327,17499,99993,43553,0.2489,1303.40,경기도 화성시
50,경기도,가평군,99991,9119,206,99994,0.2489,1303.40,경기도 가평군
51,경상남도,거제시,695,8557,75,99994,0.0722,316.54,경상남도 거제시
52,경상남도,거창군,1975,6994,76,99994,0.0722,316.54,경상남도 거창군
53,경상남도,고성군,383,5092,16,99994,0.0722,316.54,경상남도 고성군
54,경상남도,김해시,4329,10960,333,99994,0.0722,316.54,경상남도 김해시
55,경상남도,남해군,840,6154,56,99994,0.0722,316.54,경상남도 남해군
56,경상남도,밀양시,809,10158,65,99994,0.0722,316.54,경상남도 밀양시
57,경상남도,사천시,2392,99992,59,99994,0.0722,316.54,경상남도 사천시
58,경상남도,산청군,952,7611,18,99994,0.0722,316.54,경상남도 산청군
59,경상남도,양산시,1464,6918,456,99994,0.0722,316.54,경상남도 양산시
60,경상남도,의령군,759,5273,41,99994,0.0722,316.54,경상남도 의령군
61,경상남도,진주시,1497,15284,929,99994,0.0722,316.54,경상남도 진주시
62,경상남도,창녕군,722,5354,51,99994,0.0722,316.54,경상남도 창녕군
63,경상남도,창원시,2772,25215,214,99994,0.0722,316.54,경상남도 창원시
64,경상남도,통영시,2030,6150,77,99994,0.0722,316.54,경상남도 통영시
65,경상남도,하동군,1598,7043,1,99994,0.0722,316.54,경상남도 하동군
66,경상남도,함안군,1196,7043,71,99994,0.0722,316.54,경상남도 함안군
67,경상남도,함양군,584,5037,49,99994,0.0722,316.54,경상남도 함양군
68,경상남도,합천군,667,6901,17,99994,0.0722,316.54,경상남도 합천군
69,경상남도,거제면,99991,5,99993,99994,0.0722,316.54,경상남도 거제면
70,경상남도,진영읍,99991,3,99993,99994,0.0722,316.54,경상남도 진영읍
71,경상북도,경산시,894,13735,173,6008,0.0451,139.72,경상북도 경산시
72,경상북도,경주시,2385,9870,67,5905,0.0451,139.72,경상북도 경주시
73,경상북도,고령군,1054,99992,18,880,0.0451,139.72,경상북도 고령군
74,경상북도,구미시,3771,15830,47,11181,0.0451,139.72,경상북도 구미시
75,경상북도,군위군,6,131,99993,3446,0.0451,139.72,경상북도 군위군
76,경상북도,김천시,2288,10000,20,6006,0.0451,139.72,경상북도 김천시
77,경상북도,문경시,1942,763,99993,10596,0.0451,139.72,경상북도 문경시
78,경상북도,봉화군,843,6137,11,4830,0.0451,139.72,경상북도 봉화군
79,경상북도,상주시,661,10000,82,2138,0.0451,139.72,경상북도 상주시
80,경상북도,성주군,476,7507,6,5843,0.0451,139.72,경상북도 성주군
81,경상북도,안동시,858,13309,6,13433,0.0451,139.72,경상북도 안동시
82,경상북도,영덕군,2,5700,99993,5736,0.0451,139.72,경상북도 영덕군
83,경상북도,영양군,361,3649,99993,2455,0.0451,139.72,경상북도 영양군
84,경상북도,영주시,770,99992,99993,9211,0.0451,139.72,경상북도 영주시
85,경상북도,영천시,1677,8229,42,2889,0.0451,139.72,경상북도 영천시
86,경상북도,예천군,761,11351,99993,770,0.0451,139.72,경상북도 예천군
87,경상북도,울릉군,103,99992,99993,1189,0.0451,139.72,경상북도 울릉군
88,경상북도,울진군,446,12020,77,8254,0.0451,139.72,경상북도 울진군
89,경상북도,의성군,1341,99992,19,767,0.0451,139.72,경상북도 의성군
90,경상북도,청도군,265,4677,99993,1238,0.0451,139.72,경상북도 청도군
91,경상북도,청송군,172,5268,28,3618,0.0451,139.72,경상북도 청송군
92,경상북도,칠곡군,1849,6354,11,9952,0.0451,139.72,경상북도 칠곡군
93,경상북도,포항시,1497,14350,35,11765,0.0451,139.72,경상북도 포항시
94,경상북도,안막동,99991,1,99993,99994,0.0451,139.72,경상북도 안막동
95,광주광역시,광산구,726,10272,101,99994,0.0283,2964.74,광주광역시 광산구
96,광주광역시,남구,49,10854,16,3052,0.0283,2964.74,광주광역시 남구
97,광주광역시,동구,81,3958,28,99994,0.0283,2964.74,광주광역시 동구
98,광주광역시,북구,813,9913,48,6563,0.0283,2964.74,광주광역시 북구
99,광주광역시,서구,51,7199,62,99994,0.0283,2964.74,광주광역시 서구
100,대구광역시,남구,882,7295,112,99994,0.0494,2744.80,대구광역시 남구
101,대구광역시,달서구,1837,10047,63,99994,0.0494,2744.80,대구광역시 달서구
102,대구광역시,달성군,1583,9905,9,99994,0.0494,2744.80,대구광역시 달성군
103,대구광역시,동구,1294,14576,69,99994,0.0494,2744.80,대구광역시 동구
104,대구광역시,북구,1943,10873,34,99994,0.0494,2744.80,대구광역시 북구
105,대구광역시,서구,733,8880,24,99994,0.0494,2744.80,대구광역시 서구
106,대구광역시,수성구,2471,11617,62,99994,0.0494,2744.80,대구광역시 수성구
107,대구광역시,중구,718,3919,31,99994,0.0494,2744.80,대구광역시 중구
108,대전광역시,대덕구,893,8295,66,5824,0.0307,2781.58,대전광역시 대덕구
109,대전광역시,동구,581,15122,99993,5790,0.0307,2781.58,대전광역시 동구
110,대전광역시,서구,757,15407,67,9244,0.0307,2781.58,대전광역시 서구
111,대전광역시,유성구,581,8595,72,17266,0.0307,2781.58,대전광역시 유성구
112,대전광역시,중구,738,12589,35,4958,0.0307,2781.58,대전광역시 중구
113,부산광역시,강서구,598,4750,99993,19623,0.0767,4378.44,부산광역시 강서구
114,부산광역시,금정구,35,4775,9,99994,0.0767,4378.44,부산광역시 금정구
115,부산광역시,기장군,1259,5613,81,11333,0.0767,4378.44,부산광역시 기장군
116,부산광역시,남구,1,4516,76,4453,0.0767,4378.44,부산광역시 남구
117,부산광역시,동구,1318,3488,26,2900,0.0767,4378.44,부산광역시 동구
118,부산광역시,동래구,1236,4495,40,4532,0.0767,4378.44,부산광역시 동래구
119,부산광역시,부산진구,1007,9379,24,99994,0.0767,4378.44,부산광역시 부산진구
120,부산광역시,북구,746,3803,70,4521,0.0767,4378.44,부산광역시 북구
121,부산광역시,사상구,442,3820,99993,99994,0.0767,4378.44,부산광역시 사상구
122,부산광역시,사하구,517,5549,99993,6042,0.0767,4378.44,부산광역시 사하구
123,부산광역시,서구,483,5106,21,2848,0.0767,4378.44,부산광역시 서구
124,부산광역시,수영구,2998,3279,99993,4009,0.0767,4378.44,부산광역시 수영구
125,부산광역시,연제구,570,3308,48,99994,0.0767,4378.44,부산광역시 연제구
126,부산광역시,영도구,535,4464,3,99994,0.0767,4378.44,부산광역시 영도구
127,부산광역시,중구,461,1783,21,1777,0.0767,4378.44,부산광역시 중구
128,부산광역시,해운대구,899,3640,11,99994,0.0767,4378.44,부산광역시 해운대구
129,부산광역시,연재구,99991,99992,99993,3922,0.0767,4378.44,부산광역시 연재구
130,부산광역시,진구,99991,99992,99993,8258,0.0767,4378.44,부산광역시 진구
131,서울특별시,강남구,6186,10211,4231,99994,0.1929,15899.10,서울특별시 강남구
132,서울특별시,강동구,2813,7534,1037,99994,0.1929,15899.10,서울특별시 강동구
133,서울특별시,강북구,2300,9777,22,99994,0.1929,15899.10,서울특별시 강북구
134,서울특별시,강서구,1509,8646,898,99994,0.1929,15899.10,서울특별시 강서구
135,서울특별시,관악구,1662,12401,988,3026,0.1929,15899.10,서울특별시 관악구
136,서울특별시,광진구,923,8971,775,4715,0.1929,15899.10,서울특별시 광진구
137,서울특별시,구로구,1779,8015,1051,99994,0.1929,15899.10,서울특별시 구로구
138,서울특별시,금천구,778,6301,709,99994,0.1929,15899.10,서울특별시 금천구
139,서울특별시,노원구,2405,6791,59,99994,0.1929,15899.10,서울특별시 노원구
140,서울특별시,동대문구,904,99992,740,5205,0.1929,15899.10,서울특별시 동대문구
141,서울특별시,동작구,876,9202,1676,99994,0.1929,15899.10,서울특별시 동작구
142,서울특별시,마포구,1222,7405,849,99994,0.1929,15899.10,서울특별시 마포구
143,서울특별시,서대문구,870,7252,401,3230,0.1929,15899.10,서울특별시 서대문구
144,서울특별시,서초구,8344,11405,34,99994,0.1929,15899.10,서울특별시 서초구
145,서울특별시,성동구,1313,223,898,99994,0.1929,15899.10,서울특별시 성동구
146,서울특별시,성북구,1682,10000,1040,99994,0.1929,15899.10,서울특별시 성북구
147,서울특별시,송파구,1245,5578,881,99994,0.1929,15899.10,서울특별시 송파구
148,서울특별시,양천구,1135,7468,677,4836,0.1929,15899.10,서울특별시 양천구
149,서울특별시,영등포구,4307,9052,1185,9615,0.1929,15899.10,서울특별시 영등포구
150,서울특별시,용산구,809,9925,590,3605,0.1929,15899.10,서울특별시 용산구
151,서울특별시,은평구,2804,99992,1067,99994,0.1929,15899.10,서울특별시 은평구
152,서울특별시,종로구,777,8723,108,99994,0.1929,15899.10,서울특별시 종로구
153,서울특별시,중구,969,6189,632,99994,0.1929,15899.10,서울특별시 중구
154,서울특별시,중랑구,1805,9117,1777,6419,0.1929,15899.10,서울특별시 중랑구
155,서울특별시,도봉구,99991,6344,1,627,0.1929,15899.10,서울특별시 도봉구
156,세종특별자치시,가람동,5,99992,99993,99994,0.0041,708.64,세종특별자치시 가람동
157,세종특별자치시,고운동,92,99992,1,178,0.0041,708.64,세종특별자치시 고운동
158,세종특별자치시,공주시,2,99992,99993,99994,0.0041,708.64,세종특별자치시 공주시
159,세종특별자치시,금남면,119,1380,2,2598,0.0041,708.64,세종특별자치시 금남면
160,세종특별자치시,나성동,38,99992,99993,99994,0.0041,708.64,세종특별자치시 나성동
161,세종특별자치시,다정동,26,99992,99993,99994,0.0041,708.64,세종특별자치시 다정동
162,세종특별자치시,대평동,37,99992,2,99994,0.0041,708.64,세종특별자치시 대평동
163,세종특별자치시,대평동,1,99992,99993,99994,0.0041,708.64,세종특별자치시 대평동
164,세종특별자치시,도담동,40,99992,99993,160,0.0041,708.64,세종특별자치시 도담동
165,세종특별자치시,반곡동,44,99992,99993,99994,0.0041,708.64,세종특별자치시 반곡동
166,세종특별자치시,보람동,41,99992,99993,242,0.0041,708.64,세종특별자치시 보람동
167,세종특별자치시,보람동,1,99992,99993,99994,0.0041,708.64,세종특별자치시 보람동
168,세종특별자치시,보람동,1,99992,99993,99994,0.0041,708.64,세종특별자치시 보람동
169,세종특별자치시,부강면,54,603,99993,924,0.0041,708.64,세종특별자치시 부강면
170,세종특별자치시,새롬동,31,99992,99993,161,0.0041,708.64,세종특별자치시 새롬동
171,세종특별자치시,소담동,32,99992,99993,99994,0.0041,708.64,세종특별자치시 소담동
172,세종특별자치시,소정면,27,411,99993,548,0.0041,708.64,세종특별자치시 소정면
173,세종특별자치시,아름동,31,99992,4,74,0.0041,708.64,세종특별자치시 아름동
174,세종특별자치시,어진동,82,99992,1,99994,0.0041,708.64,세종특별자치시 어진동
175,세종특별자치시,연기면,69,398,4,1461,0.0041,708.64,세종특별자치시 연기면
176,세종특별자치시,연동면,30,569,99993,942,0.0041,708.64,세종특별자치시 연동면
177,세종특별자치시,연서면,43,805,1,1815,0.0041,708.64,세종특별자치시 연서면
178,세종특별자치시,장군면,42,933,99993,1771,0.0041,708.64,세종특별자치시 장군면
179,세종특별자치시,전동면,27,821,1,1919,0.0041,708.64,세종특별자치시 전동면
180,세종특별자치시,전의면,46,909,2,2077,0.0041,708.64,세종특별자치시 전의면
181,세종특별자치시,조치원읍,203,1200,5,455,0.0041,708.64,세종특별자치시 조치원읍
182,세종특별자치시,종촌동,19,99992,99993,38,0.0041,708.64,세종특별자치시 종촌동
183,세종특별자치시,한솔동,40,99992,99993,95,0.0041,708.64,세종특별자치시 한솔동
184,울산광역시,남구,3467,6314,807,99994,0.0136,1074.94,울산광역시 남구
185,울산광역시,동구,1376,2504,454,99994,0.0136,1074.94,울산광역시 동구
186,울산광역시,북구,762,4413,484,99994,0.0136,1074.94,울산광역시 북구
187,울산광역시,울주군,731,14157,466,99994,0.0136,1074.94,울산광역시 울주군
188,울산광역시,중구,730,5082,730,99994,0.0136,1074.94,울산광역시 중구
189,울산광역시,노원구,99991,99992,1,99994,0.0136,1074.94,울산광역시 노원구
190,인천광역시,강화군,743,9978,296,99994,0.0587,2765.64,인천광역시 강화군
191,인천광역시,계양구,1377,3378,554,99994,0.0587,2765.64,인천광역시 계양구
192,인천광역시,남동구,1147,6726,83,17820,0.0587,2765.64,인천광역시 남동구
193,인천광역시,동구,614,3057,289,99994,0.0587,2765.64,인천광역시 동구
194,인천광역시,미추홀구,1812,9052,194,4407,0.0587,2765.64,인천광역시 미추홀구
195,인천광역시,부평구,946,7290,952,99994,0.0587,2765.64,인천광역시 부평구
196,인천광역시,서구,1382,5117,997,22540,0.0587,2765.64,인천광역시 서구
197,인천광역시,연수구,688,1895,119,99994,0.0587,2765.64,인천광역시 연수구
198,인천광역시,옹진군,130,99992,11,2055,0.0587,2765.64,인천광역시 옹진군
199,인천광역시,중구,658,2572,523,3230,0.0587,2765.64,인천광역시 중구
200,인천광역시,남구,99991,99992,3,99994,0.0587,2765.64,인천광역시 남구
201,전라남도,강진군,10,4446,10,99994,0.0343,144.78,전라남도 강진군
202,전라남도,고흥군,815,99992,55,99994,0.0343,144.78,전라남도 고흥군
203,전라남도,곡성군,535,5334,23,3230,0.0343,144.78,전라남도 곡성군
204,전라남도,광양시,149,2069,93,99994,0.0343,144.78,전라남도 광양시
205,전라남도,구례군,406,4028,42,99994,0.0343,144.78,전라남도 구례군
206,전라남도,나주시,1,14326,99993,99994,0.0343,144.78,전라남도 나주시
207,전라남도,담양군,167,6815,8,99994,0.0343,144.78,전라남도 담양군
208,전라남도,목포시,628,9301,56,99994,0.0343,144.78,전라남도 목포시
209,전라남도,보성군,1076,99992,49,99994,0.0343,144.78,전라남도 보성군
210,전라남도,순천시,3137,9998,291,10725,0.0343,144.78,전라남도 순천시
211,전라남도,여수시,995,20630,139,99994,0.0343,144.78,전라남도 여수시
212,전라남도,영광군,390,10293,46,99994,0.0343,144.78,전라남도 영광군
213,전라남도,영암군,241,8190,14,99994,0.0343,144.78,전라남도 영암군
214,전라남도,완도군,334,6816,99993,99994,0.0343,144.78,전라남도 완도군
215,전라남도,장성군,550,5258,64,99994,0.0343,144.78,전라남도 장성군
216,전라남도,장흥군,831,7024,6,99994,0.0343,144.78,전라남도 장흥군
217,전라남도,진도군,968,7243,14,99994,0.0343,144.78,전라남도 진도군
218,전라남도,함평군,490,6450,35,99994,0.0343,144.78,전라남도 함평군
219,전라남도,해남군,75,9087,15,1993,0.0343,144.78,전라남도 해남군
220,전라남도,화순군,360,12491,32,99994,0.0343,144.78,전라남도 화순군
221,전라남도,무안군,99991,6715,99993,99994,0.0343,144.78,전라남도 무안군
222,전라남도,신안군,99991,8233,99993,99994,0.0343,144.78,전라남도 신안군
223,전라남도,용산면,99991,1,99993,99994,0.0343,144.78,전라남도 용산면
224,전라남도,장흥읍,99991,1,99993,99994,0.0343,144.78,전라남도 장흥읍
225,전라북도,고창군,409,2130,132,99994,0.0324,224.08,전라북도 고창군
226,전라북도,군산시,2096,17676,69,16668,0.0324,224.08,전라북도 군산시
227,전라북도,남원시,1,297,9,99994,0.0324,224.08,전라북도 남원시
228,전라북도,무주군,858,3530,42,99994,0.0324,224.08,전라북도 무주군
229,전라북도,부안군,307,8972,23,99994,0.0324,224.08,전라북도 부안군
230,전라북도,순찬군,2,99992,99993,99994,0.0324,224.08,전라북도 순찬군
231,전라북도,순창군,247,6551,47,99994,0.0324,224.08,전라북도 순창군
232,전라북도,완주군,421,12727,157,99994,0.0324,224.08,전라북도 완주군
233,전라북도,익산시,904,18203,18,99994,0.0324,224.08,전라북도 익산시
234,전라북도,임실군,478,4671,38,99994,0.0324,224.08,전라북도 임실군
235,전라북도,장수군,335,2597,23,99994,0.0324,224.08,전라북도 장수군
236,전라북도,전주시,1604,20920,147,99994,0.0324,224.08,전라북도 전주시
237,전라북도,정읍시,454,12747,63,99994,0.0324,224.08,전라북도 정읍시
238,전라북도,진안군,578,6066,56,99994,0.0324,224.08,전라북도 진안군
239,전라북도,공음면,99991,1,99993,99994,0.0324,224.08,전라북도 공음면
240,전라북도,김제시,99991,12875,99993,99994,0.0324,224.08,전라북도 김제시
241,전라북도,순창시,99991,99992,3,99994,0.0324,224.08,전라북도 순창시
242,전라북도,함양군,99991,99992,1,99994,0.0324,224.08,전라북도 함양군
243,제주특별자치도,서귀포시,228,7247,71,29567,0.0189,357.70,제주특별자치도 서귀포시
244,제주특별자치도,제주시,932,26295,99993,43465,0.0189,357.70,제주특별자치도 제주시
245,충청남도,공주시,1503,4313,76,9,0.0368,264.24,충청남도 공주시
246,충청남도,금산군,608,8764,28,99994,0.0368,264.24,충청남도 금산군
247,충청남도,논산시,1196,14236,144,99994,0.0368,264.24,충청남도 논산시
248,충청남도,당진시,2392,9794,51,34,0.0368,264.24,충청남도 당진시
249,충청남도,보령시,756,11057,37,44,0.0368,264.24,충청남도 보령시
250,충청남도,부여군,497,11640,99993,10,0.0368,264.24,충청남도 부여군
251,충청남도,서산시,1080,13079,728,100,0.0368,264.24,충청남도 서산시
252,충청남도,서천군,873,11319,77,99994,0.0368,264.24,충청남도 서천군
253,충청남도,아산시,3125,24098,1,47,0.0368,264.24,충청남도 아산시
254,충청남도,예산군,482,4302,40,99994,0.0368,264.24,충청남도 예산군
255,충청남도,천안시,5930,19706,1671,99994,0.0368,264.24,충청남도 천안시
256,충청남도,청양군,375,6735,62,99994,0.0368,264.24,충청남도 청양군
257,충청남도,태안군,3651,1740,37,99994,0.0368,264.24,충청남도 태안군
258,충청남도,평택시,13,99992,99993,99994,0.0368,264.24,충청남도 평택시
259,충청남도,홍성군,653,9460,104,100,0.0368,264.24,충청남도 홍성군
260,충청남도,계룡시,99991,1059,99993,99994,0.0368,264.24,충청남도 계룡시
261,충청남도,운산면,99991,1,99993,99994,0.0368,264.24,충청남도 운산면
262,충청남도,보은군,99991,99992,1,99994,0.0368,264.24,충청남도 보은군
263,충청남도,연기군,99991,99992,1,99994,0.0368,264.24,충청남도 연기군
264,충청남도,완주군,99991,99992,1,99994,0.0368,264.24,충청남도 완주군
265,충청북도,괴산군,640,3,99993,99994,0.0299,219.20,충청북도 괴산군
266,충청북도,단양군,287,1499,21,99994,0.0299,219.20,충청북도 단양군
267,충청북도,보은군,316,6349,99,99994,0.0299,219.20,충청북도 보은군
268,충청북도,영동군,1,6076,99993,99994,0.0299,219.20,충청북도 영동군
269,충청북도,옥천군,333,9941,112,99994,0.0299,219.20,충청북도 옥천군
270,충청북도,음성군,4500,21397,353,99994,0.0299,219.20,충청북도 음성군
271,충청북도,제천시,979,9024,314,99994,0.0299,219.20,충청북도 제천시
272,충청북도,증평군,910,3869,8,99994,0.0299,219.20,충청북도 증평군
273,충청북도,진천군,692,2,99993,121,0.0299,219.20,충청북도 진천군
274,충청북도,청주시,9,25432,99993,99994,0.0299,219.20,충청북도 청주시
275,충청북도,충주시,1578,10600,219,99994,0.0299,219.20,충청북도 충주시
276,충청북도,청원군,99991,99992,1,99994,0.0299,219.20,충청북도 청원군

In [35]:
df[df.new_state.duplicated()]

Empty DataFrame
Columns: [state, city, cctv_cnt, sclight_cnt, smalight_cnt, strlamp_cnt, crime_rate, avg_pop_density, new_state]
Index: []

In [37]:
# drop 전 행 개수 : 277
df.shape

(274, 9)

In [34]:
idx_to_drop = [163,167,168]
df.drop(idx_to_drop, axis=0, inplace=True)

In [27]:
df[df.city.str.contains('대평동')].city.unique()

array(['대평동'], dtype=object)

In [28]:
df['new_state'] = df.state + ' ' + df.city

In [24]:
df[(df.strlamp_cnt==99994) & (df.state == '경상남도')]['city'].unique()

array(['거제시', '거창군', '고성군', '김해시', '남해군', '밀양시', '사천시', '산청군', '양산시',
       '의령군', '진주시', '창녕군', '창원시', '통영시', '하동군', '함안군', '함양군', '합천군',
       '거제면', '진영읍'], dtype=object)

In [38]:
df.to_csv('./df_security_cancat-2.csv',encoding='cp949')

In [ ]:
col_strlamp = ['strlamp_cnt']
groupby_strlamp.columns = col_strlamp

In [78]:
test_df

,state,city,cctv_cnt,sclight_cnt,avg_pop_density,smalight_cnt,strlamp_cnt,crime_rate
0,강원도,강릉시,1699.0,12301.0,90.36,64.0,NaN,0.0271
1,강원도,고성군,422.0,NaN,NaN,94.0,NaN,0.0271
2,강원도,동해시,330.0,4555.0,90.36,184.0,NaN,0.0271
3,강원도,삼척시,932.0,7813.0,90.36,46.0,NaN,0.0271
4,강원도,속초시,441.0,3118.0,90.36,NaN,NaN,0.0271
...,...,...,...,...,...,...,...,...
272,충청북도,증평군,910.0,3869.0,219.20,8.0,NaN,0.0299
273,충청북도,진천군,692.0,2.0,219.20,NaN,121.0,0.0299
274,충청북도,청주시,9.0,25432.0,219.20,NaN,NaN,0.0299
275,충청북도,충주시,1578.0,10600.0,219.20,219.0,NaN,0.0299
276,충청북도,청원군,NaN,NaN,NaN,1.0,NaN,0.0299

### nan값을 제외하고 정수형으로 바꾸기 시도 (실패함 ㅠ.ㅜ)

In [104]:
def sosutjum_out(x):
    try:
        return round(x)
    except:
        pass
sosutjum_out('nan')
test_df.strlamp_cnt = test_df.strlamp_cnt.apply(lambda x: sosutjum_out(x))

In [114]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 277 entries, 0 to 276
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   state            277 non-null    object
 1   city             277 non-null    object
 2   cctv_cnt         252 non-null    float64
 3   sclight_cnt      233 non-null    float64
 4   avg_pop_density  231 non-null    float64
 5   smalight_cnt     212 non-null    float64
 6   strlamp_cnt      96 non-null     float64
 7   crime_rate       277 non-null    float64
dtypes: float64(6), object(2)
memory usage: 19.5+ KB

In [116]:
test_df.strlamp_cnt.astype('int64', errors='ignore')

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
       ...
272      NaN
273    121.0
274      NaN
275      NaN
276      NaN
Name: strlamp_cnt, Length: 277, dtype: float64

In [91]:
test_df = df4.copy()

In [54]:
df_sclight.loc[df_sclight.state == '제주도']

Empty DataFrame
Columns: [address, state, city, lat, long, install_cnt, date, avg_pop_density]
Index: []

In [126]:
test_df.strlamp_cnt[test_df.strlamp_cnt == None]

Series([], Name: strlamp_cnt, dtype: float64)

In [86]:
df4.to_csv('./concated_data.csv', encoding='cp949')

### city와 state에 시도명이 겹치지 않는지 확인하기
추후에 문제가 발생해서 전국구 시도별 행정구역을 찾고 new_state열(ex - 강원도 춘천시)과 비교해서 정확하게 고침

In [34]:
df4[df4.city.str.endswith('시')].city.unique()

array(['강릉시', '동해시', '삼척시', '속초시', '원주시', '춘천시', '태백시', '고양시', '과천시',
       '광명시', '광주시', '구리시', '군포시', '김포시', '남양주시', '동두천시', '부천시', '성남시',
       '수원시', '시흥시', '안산시', '안성시', '안양시', '양주시', '여주시', '오산시', '용인시',
       '의왕시', '의정부시', '이천시', '파주시', '평택시', '포천시', '하남시', '화성시', '거제시',
       '김해시', '밀양시', '사천시', '양산시', '진주시', '창원시', '통영시', '경산시', '경주시',
       '구미시', '김천시', '문경시', '상주시', '안동시', '영주시', '영천시', '포항시', '공주시',
       '광양시', '나주시', '목포시', '순천시', '여수시', '군산시', '남원시', '익산시', '전주시',
       '정읍시', '김제시', '순창시', '서귀포시', '제주시', '논산시', '당진시', '보령시', '서산시',
       '아산시', '천안시', '계룡시', '제천시', '청주시', '충주시'], dtype=object)

In [35]:
df4[df4.city.str.endswith('군')].city.unique()

array(['고성군', '양구군', '양양군', '영월군', '인제군', '정선군', '철원군', '평창군', '홍천군',
       '화천군', '횡성군', '양평군', '연천군', '가평군', '거창군', '남해군', '산청군', '의령군',
       '창녕군', '하동군', '함안군', '함양군', '합천군', '고령군', '군위군', '봉화군', '성주군',
       '영덕군', '영양군', '예천군', '울릉군', '울진군', '의성군', '청도군', '청송군', '칠곡군',
       '달성군', '유성군', '기장군', '울주군', '강화군', '옹진군', '강진군', '고흥군', '곡성군',
       '구례군', '담양군', '보성군', '영광군', '영암군', '완도군', '장성군', '장흥군', '진도군',
       '함평군', '해남군', '화순군', '무안군', '신안군', '고창군', '무주군', '부안군', '순찬군',
       '순창군', '완주군', '임실군', '장수군', '진안군', '금산군', '부여군', '서천군', '예산군',
       '청양군', '태안군', '홍성군', '보은군', '연기군', '괴산군', '단양군', '영동군', '옥천군',
       '음성군', '증평군', '진천군', '청원군'], dtype=object)

In [ ]:
l1 = df4.city.unique().tolist()

In [36]:
l1 = df4[df4.city.str.endswith('시')].city.unique().tolist()

In [37]:
l2 = df4[df4.city.str.endswith('군')].city.unique().tolist()

In [40]:
test_list1 = []
test_list2 = []
for i in l1:
    test_list1.append(i[:2])
   
    
for j in l2:
    
    test_list2.append(j[:2])
print(test_list1)
print(test_list2)

['강릉', '동해', '삼척', '속초', '원주', '춘천', '태백', '고양', '과천', '광명', '광주', '구리', '군포', '김포', '남양', '동두', '부천', '성남', '수원', '시흥', '안산', '안성', '안양', '양주', '여주', '오산', '용인', '의왕', '의정', '이천', '파주', '평택', '포천', '하남', '화성', '거제', '김해', '밀양', '사천', '양산', '진주', '창원', '통영', '경산', '경주', '구미', '김천', '문경', '상주', '안동', '영주', '영천', '포항', '공주', '광양', '나주', '목포', '순천', '여수', '군산', '남원', '익산', '전주', '정읍', '김제', '순창', '서귀', '제주', '논산', '당진', '보령', '서산', '아산', '천안', '계룡', '제천', '청주', '충주']
['고성', '양구', '양양', '영월', '인제', '정선', '철원', '평창', '홍천', '화천', '횡성', '양평', '연천', '가평', '거창', '남해', '산청', '의령', '창녕', '하동', '함안', '함양', '합천', '고령', '군위', '봉화', '성주', '영덕', '영양', '예천', '울릉', '울진', '의성', '청도', '청송', '칠곡', '달성', '유성', '기장', '울주', '강화', '옹진', '강진', '고흥', '곡성', '구례', '담양', '보성', '영광', '영암', '완도', '장성', '장흥', '진도', '함평', '해남', '화순', '무안', '신안', '고창', '무주', '부안', '순찬', '순창', '완주', '임실', '장수', '진안', '금산', '부여', '서천', '예산', '청양', '태안', '홍성', '보은', '연기', '괴산', '단양', '영동', '옥천', '음성', '증평', '진천', '청원']

In [41]:
is_jungbok = []
for i in l1:
    if i in l2:
        is_jungbok.append(i)
        
print(is_jungbok)

[]

array(['강릉시', '고성군', '동해시', '삼척시', '속초시', '양구군', '양양군', '영월군', '원주시',
       '인제군', '정선군', '철원군', '춘천시', '태백시', '평창군', '홍천군', '화천군', '횡성군',
       '근남면', '철원읍', '고양시', '과천시', '광명시', '광주시', '구리시', '군포시', '김포시',
       '남양주시', '동두천시', '부천시', '성남시', '수원시', '시흥시', '안산시', '안성시', '안양시',
       '양주시', '양평군', '여주시', '연천군', '오산시', '용인시', '의왕시', '의정부시', '이천시',
       '파주시', '평택시', '포천시', '하남시', '화성시', '가평군', '거제시', '거창군', '김해시',
       '남해군', '밀양시', '사천시', '산청군', '양산시', '의령군', '진주시', '창녕군', '창원시',
       '통영시', '하동군', '함안군', '함양군', '합천군', '거제면', '진영읍', '경산시', '경주시',
       '고령군', '구미시', '군위군', '김천시', '문경시', '봉화군', '상주시', '성주군', '안동시',
       '영덕군', '영양군', '영주시', '영천시', '예천군', '울릉군', '울진군', '의성군', '청도군',
       '청송군', '칠곡군', '포항시', '안막동', '광산구', '남구', '동구', '북구', '서구', '달서구',
       '달성군', '수성구', '중구', '대덕구', '유성구', '유성군', '강서구', '금정구', '기장군',
       '동래구', '부산진구', '사상구', '사하구', '수영구', '연제구', '영도구', '해운대구', '연재구',
       '진구', '강남구', '강동구', '강북구', '관악구', '광진구', '구로구', '금천구', '노원구',
       '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구',
       '영등포구', '용산구', '은평구', '종로구', '중랑구', '도봉구', '동대문고', '가람동', '고운동',
       '공주시', '금남면', '나성동', '다정동', '대평동', '대평동566-3', '도담동', '반곡동', '보람동',
       '보람동540-2', '보람동632-1', '부강면', '새롬동', '소담동', '소정면', '아름동', '어진동',
       '연기면', '연동면', '연서면', '장군면', '전동면', '전의면', '조치원읍', '종촌동', '한솔동',
       '울주군', '남부소방서', '남산초등학교', '강화군', '계양구', '남동구', '미추홀구', '부평구',
       '연수구', '옹진군', '강진군', '고흥군', '곡성군', '광양시', '구례군', '나주시', '담양군',
       '목포시', '보성군', '순천시', '여수시', '영광군', '영암군', '완도군', '장성군', '장흥군',
       '진도군', '함평군', '해남군', '화순군', '무안군', '신안군', '용산면', '장흥읍', '고창군',
       '군산시', '남원시', '무주군', '부안군', '순찬군', '순창군', '완주군', '익산시', '임실군',
       '장수군', '전주시', '정읍시', '진안군', '공음면', '김제시', '순창시', '서귀포시', '제주시',
       '금산군', '논산시', '당진시', '보령시', '부여군', '서산시', '서천군', '아산시', '예산군',
       '천안시', '청양군', '태안군', '홍성군', '계룡시', '운산면', '보은군', '연기군', '괴산군',
       '단양군', '영동군', '옥천군', '음성군', '제천시', '증평군', '진천군', '청주시', '충주시',
       '청원군'], dtype=object)

In [ ]:
l1

In [ ]:
df4.state.unique()

In [ ]:
df_cctv.state.unique()

In [ ]:
df_crime.state.unique()

In [ ]:
df_sclight.state.unique()

In [ ]:
df_smalight.state.unique()

In [ ]:
df_strlamp.state.unique()

---

In [ ]:
df_cctv.city.unique()

In [ ]:
df_sclight.city.unique()

In [ ]:
df_smalight.city.unique()

In [ ]:
df_strlamp.city.unique()

### new_state값이 모두 올바른지 확인
방문자수 데이터를 합친 후 df에서 city에 오류확인 -> 4가지 경우의 수를 확인해서 각각 조치함

In [15]:
# 23. 03. 05
import pandas as pd
correction_list = ['강원도 강릉시','강원도 고성군','강원도 동해시','강원도 삼척시','강원도 속초시','강원도 양구군','강원도 양양군','강원도 영월군','강원도 원주시','강원도 인제군','강원도 정선군','강원도 철원군','강원도 춘천시','강원도 태백시','강원도 평창군','강원도 홍천군','강원도 화천군','강원도 횡성군','경기도 가평군','경기도 고양시','경기도 과천시','경기도 광명시','경기도 광주시','경기도 구리시','경기도 군포시','경기도 김포시','경기도 남양주시','경기도 동두천시','경기도 부천시','경기도 성남시','경기도 수원시','경기도 시흥시','경기도 안산시','경기도 안성시','경기도 안양시','경기도 양주시','경기도 양평군','경기도 여주시','경기도 연천군','경기도 오산시','경기도 용인시','경기도 의왕시','경기도 의정부시','경기도 이천시','경기도 파주시','경기도 평택시','경기도 포천시','경기도 하남시','경기도 화성시','경상남도 거제시','경상남도 거창군','경상남도 고성군','경상남도 김해시','경상남도 남해군','경상남도 밀양시','경상남도 사천시','경상남도 산청군','경상남도 양산시','경상남도 의령군','경상남도 진주시','경상남도 창녕군','경상남도 창원시','경상남도 통영시','경상남도 하동군','경상남도 함안군','경상남도 함양군','경상남도 합천군','경상북도 경산시','경상북도 경주시','경상북도 고령군','경상북도 구미시','경상북도 군위군','경상북도 김천시','경상북도 문경시','경상북도 봉화군','경상북도 상주시','경상북도 성주군','경상북도 안동시','경상북도 영덕군','경상북도 영양군','경상북도 영주시','경상북도 영천시','경상북도 예천군','경상북도 울릉군','경상북도 울진군','경상북도 의성군','경상북도 청도군','경상북도 청송군','경상북도 칠곡군','경상북도 포항시','광주광역시 광산구','광주광역시 남구','광주광역시 동구','광주광역시 북구','광주광역시 서구','대구광역시 남구','대구광역시 달서구','대구광역시 달성군','대구광역시 동구','대구광역시 북구','대구광역시 서구','대구광역시 수성구','대구광역시 중구','대전광역시 대덕구','대전광역시 동구','대전광역시 서구','대전광역시 유성구','대전광역시 중구','부산광역시 강서구','부산광역시 금정구','부산광역시 기장군','부산광역시 남구','부산광역시 동구','부산광역시 동래구','부산광역시 부산진구','부산광역시 북구','부산광역시 사상구','부산광역시 사하구','부산광역시 서구','부산광역시 수영구','부산광역시 연제구','부산광역시 영도구','부산광역시 중구','부산광역시 해운대구','서울특별시 강남구','서울특별시 강동구','서울특별시 강북구','서울특별시 강서구','서울특별시 관악구','서울특별시 광진구','서울특별시 구로구','서울특별시 금천구','서울특별시 노원구','서울특별시 도봉구','서울특별시 동대문구','서울특별시 동작구','서울특별시 마포구','서울특별시 서대문구','서울특별시 서초구','서울특별시 성동구','서울특별시 성북구','서울특별시 송파구','서울특별시 양천구','서울특별시 영등포구','서울특별시 용산구','서울특별시 은평구','서울특별시 종로구','서울특별시 중구','서울특별시 중랑구','울산광역시 남구','울산광역시 동구','울산광역시 북구','울산광역시 울주군','울산광역시 중구','인천광역시 강화군','인천광역시 계양구','인천광역시 남동구','인천광역시 동구','인천광역시 미추홀구','인천광역시 부평구','인천광역시 서구','인천광역시 연수구','인천광역시 옹진군','인천광역시 중구','전라남도 강진군','전라남도 고흥군','전라남도 곡성군','전라남도 광양시','전라남도 구례군','전라남도 나주시','전라남도 담양군','전라남도 목포시','전라남도 무안군','전라남도 보성군','전라남도 순천시','전라남도 신안군','전라남도 여수시','전라남도 영광군','전라남도 영암군','전라남도 완도군','전라남도 장성군','전라남도 장흥군','전라남도 진도군','전라남도 함평군','전라남도 해남군','전라남도 화순군','전라북도 고창군','전라북도 군산시','전라북도 김제시','전라북도 남원시','전라북도 무주군','전라북도 부안군','전라북도 순창군','전라북도 완주군','전라북도 익산시','전라북도 임실군','전라북도 장수군','전라북도 전주시','전라북도 정읍시','전라북도 진안군','제주특별자치도 서귀포시','제주특별자치도 제주시','충청남도 계룡시','충청남도 공주시','충청남도 금산군','충청남도 논산시','충청남도 당진시','충청남도 보령시','충청남도 부여군','충청남도 서산시','충청남도 서천군','충청남도 아산시','충청남도 예산군','충청남도 천안시','충청남도 청양군','충청남도 태안군','충청남도 홍성군','충청북도 괴산군','충청북도 단양군','충청북도 보은군','충청북도 영동군','충청북도 옥천군','충청북도 음성군','충청북도 제천시','충청북도 증평군','충청북도 진천군','충청북도 청주시','충청북도 충주시']

In [5]:
df = pd.read_csv('./df_security_concat-3.csv', encoding='cp949')
df

,state,city,visit_cnt,cctv_cnt,sclight_cnt,smalight_cnt,strlamp_cnt,crime_rate,avg_pop_density,new_state
0,강원도,강릉시,26334028.0,1699.0,12301.0,64.0,99994.0,0.0271,90.36,강원도 강릉시
1,강원도,고성군,11612683.0,422.0,99992.0,94.0,99994.0,0.0271,90.36,강원도 고성군
2,강원도,동해시,6798468.0,330.0,4555.0,184.0,99994.0,0.0271,90.36,강원도 동해시
3,강원도,삼척시,8614642.0,932.0,7813.0,46.0,99994.0,0.0271,90.36,강원도 삼척시
4,강원도,속초시,19495563.0,441.0,3118.0,99993.0,99994.0,0.0271,90.36,강원도 속초시
...,...,...,...,...,...,...,...,...,...,...
270,충청남도,운산면,NaN,99991.0,1.0,99993.0,99994.0,0.0368,264.24,충청남도 운산면
271,충청남도,보은군,NaN,99991.0,99992.0,1.0,99994.0,0.0368,264.24,충청남도 보은군
272,충청남도,연기군,NaN,99991.0,99992.0,1.0,99994.0,0.0368,264.24,충청남도 연기군
273,충청남도,완주군,NaN,99991.0,99992.0,1.0,99994.0,0.0368,264.24,충청남도 완주군
274,충청북도,청원군,NaN,99991.0,99992.0,1.0,99994.0,0.0299,219.20,충청북도 청원군

In [105]:
# new_state만 리스트로 뽑기
state_list = df.new_state.to_list()

In [106]:
state_list1 = []
for i in state_list:
    if i[:7] != '세종특별자치시':
        state_list1.append(i)
state_list1
# 오류 발견함 -> new_state에 nan존재

TypeError: 'float' object is not subscriptable

In [109]:
df.loc[df.new_state.isnull()]  # 오류는 이것 때문인걸로....

,state,city,visit_cnt,cctv_cnt,sclight_cnt,smalight_cnt,strlamp_cnt,crime_rate,avg_pop_density,new_state
149,세종특별자치시,세종특별자치시,18211355.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# 세종특별자치시가 안 들어간 것만 추출하기 
state_list1 = []
for i in state_list:
    try:
        if i[:7] != '세종특별자치시':
            state_list1.append(i)
    except:
        continue
state_list1

['강원도 강릉시',
 '강원도 고성군',
 '강원도 동해시',
 '강원도 삼척시',
 '강원도 속초시',
 '강원도 양구군',
 '강원도 양양군',
 '강원도 영월군',
 '강원도 원주시',
 '강원도 인제군',
 '강원도 정선군',
 '강원도 철원군',
 '강원도 춘천시',
 '강원도 태백시',
 '강원도 평창군',
 '강원도 홍천군',
 '강원도 화천군',
 '강원도 횡성군',
 '경기도 가평군',
 '경기도 고양시',
 '경기도 과천시',
 '경기도 광명시',
 '경기도 광주시',
 '경기도 구리시',
 '경기도 군포시',
 '경기도 김포시',
 '경기도 남양주시',
 '경기도 동두천시',
 '경기도 부천시',
 '경기도 성남시',
 '경기도 수원시',
 '경기도 시흥시',
 '경기도 안산시',
 '경기도 안성시',
 '경기도 안양시',
 '경기도 양주시',
 '경기도 양평군',
 '경기도 여주시',
 '경기도 연천군',
 '경기도 오산시',
 '경기도 용인시',
 '경기도 의왕시',
 '경기도 의정부시',
 '경기도 이천시',
 '경기도 파주시',
 '경기도 평택시',
 '경기도 포천시',
 '경기도 하남시',
 '경기도 화성시',
 '경상남도 거제시',
 '경상남도 거창군',
 '경상남도 고성군',
 '경상남도 김해시',
 '경상남도 남해군',
 '경상남도 밀양시',
 '경상남도 사천시',
 '경상남도 산청군',
 '경상남도 양산시',
 '경상남도 의령군',
 '경상남도 진주시',
 '경상남도 창녕군',
 '경상남도 창원시',
 '경상남도 통영시',
 '경상남도 하동군',
 '경상남도 함안군',
 '경상남도 함양군',
 '경상남도 합천군',
 '경상북도 경산시',
 '경상북도 경주시',
 '경상북도 고령군',
 '경상북도 구미시',
 '경상북도 군위군',
 '경상북도 김천시',
 '경상북도 문경시',
 '경상북도 봉화군',
 '경상북도 상주시',
 '경상북도 성주군',
 '경상북도 안동시',
 '경상북도 영덕군',
 '경상북도 영양군',
 '경상북도 영주시',
 '경상북도 영천시',
 '경상북도 예천군',
 '경상북도 울릉군',
 '경상북도 울진군',
 '경상북도 의성군',
 '경상북도 청도군',
 '경상북도 청송군',
 '경상북도 칠곡군',
 '경상북도 포항시',
 '광주광역시 광산구',
 '광주광역시 남구',
 '광주광역시 동구',
 '광주광역시 북구',
 '광주광역시 서구',
 '대구광역시 남구',
 '대구광역시 달서구',
 '대구광역시 달성군',
 '대구광역시 동구',
 '대구광역시 북구',
 '대구광역시 서구',
 '대구광역시 수성구',
 '대구광역시 중구',
 '대전광역시 대덕구',
 '대전광역시 동구',
 '대전광역시 서구',
 '대전광역시 유성구',
 '대전광역시 중구',
 '부산광역시 강서구',
 '부산광역시 금정구',
 '부산광역시 기장군',
 '부산광역시 남구',
 '부산광역시 동구',
 '부산광역시 동래구',
 '부산광역시 부산진구',
 '부산광역시 북구',
 '부산광역시 사상구',
 '부산광역시 사하구',
 '부산광역시 서구',
 '부산광역시 수영구',
 '부산광역시 연제구',
 '부산광역시 영도구',
 '부산광역시 중구',
 '부산광역시 해운대구',
 '서울특별시 강남구',
 '서울특별시 강동구',
 '서울특별시 강북구',
 '서울특별시 강서구',
 '서울특별시 관악구',
 '서울특별시 광진구',
 '서울특별시 구로구',
 '서울특별시 금천구',
 '서울특별시 노원구',
 '서울특별시 도봉구',
 '서울특별시 동대문구',
 '서울특별시 동작구',
 '서울특별시 마포구',
 '서울특별시 서대문구',
 '서울특별시 서초구',
 '서울특별시 성동구',
 '서울특별시 성북구',
 '서울특별시 송파구',
 '서울특별시 양천구',
 '서울특별시 영등포구',
 '서울특별시 용산구',
 '서울특별시 은평구',
 '서울특별시 종로구',
 '서울특별시 중구',
 '서울특별시 중랑구',
 '울산광역시 남구',
 '울산광역시 동구',
 '울산광역시 북구',
 '울산광역시 울주군',
 '울산광역시 중구',
 '인천광역시 강화군',
 '인천광역시 계양구',
 '인천광역시 남동구',
 '인천광역시 동구',
 '인천광역시 미추홀구',
 '인천광역시 부평구',
 '인천광역시 서구',
 '인천광역시 연수구',
 '인천광역시 옹진군',
 '인천광역시 중구',
 '전라남도 강진군',
 '전라남도 고흥군',
 '전라남도 곡성군',
 '전라남도 광양시',
 '전라남도 구례군',
 '전라남도 나주시',
 '전라남도 담양군',
 '전라남도 목포시',
 '전라남도 무안군',
 '전라남도 보성군',
 '전라남도 순천시',
 '전라남도 신안군',
 '전라남도 여수시',
 '전라남도 영광군',
 '전라남도 영암군',
 '전라남도 완도군',
 '전라남도 장성군',
 '전라남도 장흥군',
 '전라남도 진도군',
 '전라남도 함평군',
 '전라남도 해남군',
 '전라남도 화순군',
 '전라북도 고창군',
 '전라북도 군산시',
 '전라북도 김제시',
 '전라북도 남원시',
 '전라북도 무주군',
 '전라북도 부안군',
 '전라북도 순창군',
 '전라북도 완주군',
 '전라북도 익산시',
 '전라북도 임실군',
 '전라북도 장수군',
 '전라북도 전주시',
 '전라북도 정읍시',
 '전라북도 진안군',
 '제주특별자치도 서귀포시',
 '제주특별자치도 제주시',
 '충청남도 계룡시',
 '충청남도 공주시',
 '충청남도 금산군',
 '충청남도 논산시',
 '충청남도 당진시',
 '충청남도 보령시',
 '충청남도 부여군',
 '충청남도 서산시',
 '충청남도 서천군',
 '충청남도 아산시',
 '충청남도 예산군',
 '충청남도 천안시',
 '충청남도 청양군',
 '충청남도 태안군',
 '충청남도 홍성군',
 '충청북도 괴산군',
 '충청북도 단양군',
 '충청북도 보은군',
 '충청북도 영동군',
 '충청북도 옥천군',
 '충청북도 음성군',
 '충청북도 제천시',
 '충청북도 증평군',
 '충청북도 진천군',
 '충청북도 청주시',
 '충청북도 충주시',
 '강원도 근남면',
 '강원도 철원읍',
 '경상남도 거제면',
 '경상남도 진영읍',
 '경상북도 안막동',
 '부산광역시 연재구',
 '부산광역시 진구',
 '울산광역시 노원구',
 '인천광역시 남구',
 '전라남도 용산면',
 '전라남도 장흥읍',
 '전라북도 순찬군',
 '전라북도 공음면',
 '전라북도 순창시',
 '전라북도 함양군',
 '충청남도 평택시',
 '충청남도 운산면',
 '충청남도 보은군',
 '충청남도 연기군',
 '충청남도 완주군',
 '충청북도 청원군']

In [16]:
# 올바르지 않은 new_state값 추출
l1 = []
for i in state_list1:
    if i not in correction_list:
        l1.append(i)
print(l1)

['강원도 근남면', '강원도 철원읍', '경상남도 거제면', '경상남도 진영읍', '경상북도 안막동', '부산광역시 연재구', '부산광역시 진구', '울산광역시 노원구', '인천광역시 남구', '전라남도 용산면', '전라남도 장흥읍', '전라북도 순찬군', '전라북도 공음면', '전라북도 순창시', '전라북도 함양군', '충청남도 평택시', '충청남도 운산면', '충청남도 보은군', '충청남도 연기군', '충청남도 완주군', '충청북도 청원군']

### 올바르지 않은 값들 확인하기
확인된 바 : 올바르지 않은 값들은 모두 결측치가 세개임

>데이터 전처리 방법 논의하기
>1. 잘못된 데이터가 아래와 같이 나왔는데 전부 다 결측치가 세개인 것들이야 전처리를 어떻게 해야할까?
>    * 올바른 데이터에 더하기 (ex - 강원도 철원읍 보안등 10개를 강원도 철원군 보안등 개수에 추가하기)
>    * 잘못된 데이터 날려버리기
    
>경우의 수 별 논점
>1. 시군구 위치가 잘못된 경우 : state와 city중 어느 걸 기준으로 데이터를 통합할 것인지?
    * ( 예 : 울산광역시 노원구-> 서울특별시 노원구 or 울산광역시 OO구?)
    * state를 기준으로 할 경우 raw data를 뒤져서 올바른 위치를 찾아봐야 할듯
    * city를 기준으로 할 경우 state만 바꿔주면 됨
    * 걍 날려버리기
>2. 나머지 세개의 경우의 수는 1번 방법대로 하고 잘못된 데이터를 없애버리면 될 듯

In [110]:
# 개수 확인
len(l1)

0

In [17]:
df1 = df.copy()

In [31]:
c1 = df1.new_state == '강원도 근남면'
c2 = df1.new_state == '강원도 철원읍'
c3 = df1.new_state == '경상남도 거제면'
c4 = df1.new_state == '경상남도 진영읍'
c5 = df1.new_state == '경상북도 안막동'
c6 = df1.new_state == '부산광역시 연재구'
c7 = df1.new_state == '부산광역시 진구'
c8 = df1.new_state == '울산광역시 노원구'
c9 = df1.new_state == '인천광역시 남구'
c10 = df1.new_state == '전라남도 용산면'
c11 = df1.new_state == '전라남도 장흥읍'
c12 = df1.new_state == '전라북도 순찬군'
c13 = df1.new_state == '전라북도 공음면'
c14 = df1.new_state == '전라북도 순창시'
c15 = df1.new_state == '전라북도 함양군'
c16 = df1.new_state == '충청남도 평택시'
c17 = df1.new_state == '충청남도 운산면'
c18 = df1.new_state == '충청남도 보은군'
c19 = df1.new_state == '충청남도 연기군'
c20 = df1.new_state == '충청남도 완주군'
c21 = df1.new_state == '충청북도 청원군' # 21개 맞음

In [32]:
df1[c1|c2|c3|c4|c5|c6|c7|c8|c9|c10|c11|c12|c13|c14|c15|c16|c17|c18|c19|c20|c21]

,state,city,visit_cnt,cctv_cnt,sclight_cnt,smalight_cnt,strlamp_cnt,crime_rate,avg_pop_density,new_state
229,강원도,근남면,NaN,99991.0,1.0,99993.0,99994.0,0.0271,90.36,강원도 근남면
230,강원도,철원읍,NaN,99991.0,10.0,99993.0,99994.0,0.0271,90.36,강원도 철원읍
231,경상남도,거제면,NaN,99991.0,5.0,99993.0,99994.0,0.0722,316.54,경상남도 거제면
232,경상남도,진영읍,NaN,99991.0,3.0,99993.0,99994.0,0.0722,316.54,경상남도 진영읍
233,경상북도,안막동,NaN,99991.0,1.0,99993.0,99994.0,0.0451,139.72,경상북도 안막동
234,부산광역시,연재구,NaN,99991.0,99992.0,99993.0,3922.0,0.0767,4378.44,부산광역시 연재구
235,부산광역시,진구,NaN,99991.0,99992.0,99993.0,8258.0,0.0767,4378.44,부산광역시 진구
261,울산광역시,노원구,NaN,99991.0,99992.0,1.0,99994.0,0.0136,1074.94,울산광역시 노원구
262,인천광역시,남구,NaN,99991.0,99992.0,3.0,99994.0,0.0587,2765.64,인천광역시 남구
263,전라남도,용산면,NaN,99991.0,1.0,99993.0,99994.0,0.0343,144.78,전라남도 용산면
264,전라남도,장흥읍,NaN,99991.0,1.0,99993.0,99994.0,0.0343,144.78,전라남도 장흥읍
265,전라북도,순찬군,NaN,2.0,99992.0,99993.0,99994.0,0.0324,224.08,전라북도 순찬군
266,전라북도,공음면,NaN,99991.0,1.0,99993.0,99994.0,0.0324,224.08,전라북도 공음면
267,전라북도,순창시,NaN,99991.0,99992.0,3.0,99994.0,0.0324,224.08,전라북도 순창시
268,전라북도,함양군,NaN,99991.0,99992.0,1.0,99994.0,0.0324,224.08,전라북도 함양군
269,충청남도,평택시,NaN,13.0,99992.0,99993.0,99994.0,0.0368,264.24,충청남도 평택시
270,충청남도,운산면,NaN,99991.0,1.0,99993.0,99994.0,0.0368,264.24,충청남도 운산면
271,충청남도,보은군,NaN,99991.0,99992.0,1.0,99994.0,0.0368,264.24,충청남도 보은군
272,충청남도,연기군,NaN,99991.0,99992.0,1.0,99994.0,0.0368,264.24,충청남도 연기군
273,충청남도,완주군,NaN,99991.0,99992.0,1.0,99994.0,0.0368,264.24,충청남도 완주군
274,충청북도,청원군,NaN,99991.0,99992.0,1.0,99994.0,0.0299,219.20,충청북도 청원군

### 데이터를 고치기 위한 df만들기

In [111]:
# 잘못된 데이터만 추출한 df만들기
df2 = df1[c1|c2|c3|c4|c5|c6|c7|c8|c9|c10|c11|c12|c13|c14|c15|c16|c17|c18|c19|c20|c21]

In [112]:
# df2의 new_state를 올바르게 고침
df2.loc[df2.new_state == '강원도 근남면' , 'new_state'] = '강원도 철원군'  # city에 시군구가 아닌 읍면동
df2.loc[df2.new_state == '강원도 철원읍' , 'new_state'] = '강원도 철원군'  # city에 시군구가 아닌 읍면동
df2.loc[df2.new_state == '경상남도 거제면' , 'new_state'] = '경상남도 거제시'  # city에 시군구가 아닌 읍면동
df2.loc[df2.new_state == '경상남도 진영읍' , 'new_state'] = '경상남도 김해시'  # city에 시군구가 아닌 읍면동
df2.loc[df2.new_state == '경상북도 안막동' , 'new_state'] = '경상북도 안동시'  # city에 시군구가 아닌 읍면동
df2.loc[df2.new_state == '부산광역시 연재구' , 'new_state'] = '부산광역시 연제구'  # 이름이 잘못됨
df2.loc[df2.new_state == '부산광역시 진구' , 'new_state'] = '부산광역시 부산진구'  # 이름이 잘못됨
df2.loc[df2.new_state == '울산광역시 노원구' , 'new_state'] = '서울특별시 노원구'  # 위치가 잘못됨 - city를 기준으로 전처리
df2.loc[df2.new_state == '인천광역시 남구' , 'new_state'] = '인천광역시 미추홀구'  # 옛 지명
df2.loc[df2.new_state == '전라남도 용산면' , 'new_state'] = '전라남도 장흥군'  # city에 시군구가 아닌 읍면동
df2.loc[df2.new_state == '전라남도 장흥읍' , 'new_state'] = '전라남도 장흥군'  # city에 시군구가 아닌 읍면동
df2.loc[df2.new_state == '전라북도 순찬군' , 'new_state'] = '전라북도 순창군'  # 이름이 잘못됨
df2.loc[df2.new_state == '전라북도 공음면' , 'new_state'] = '전라북도 고창군'  # city에 시군구가 아닌 읍면동
df2.loc[df2.new_state == '전라북도 순창시' , 'new_state'] = '전라북도 순창군'  # 이름이 잘못됨
df2.loc[df2.new_state == '전라북도 함양군' , 'new_state'] = '경상남도 함양군'  # 위치가 잘못됨 - city를 기준으로 전처리
df2.loc[df2.new_state == '충청남도 평택시' , 'new_state'] = '경기도 평택시'  # 위치가 잘못됨 - city를 기준으로 전처리
df2.loc[df2.new_state == '충청남도 운산면' , 'new_state'] = '충청남도 서산시'  # city에 시군구가 아닌 읍면동
df2.loc[df2.new_state == '충청남도 보은군' , 'new_state'] = '충청북도 보은군'  # 위치가 잘못됨 - city를 기준으로 전처리
df2.loc[df2.new_state == '충청남도 연기군' , 'new_state'] = '세종특별자치시 연기면'  # 옛 지명
df2.loc[df2.new_state == '충청남도 완주군' , 'new_state'] = '전라북도 완주군'  # 위치가 잘못됨 - city를 기준으로 전처리
df2.loc[df2.new_state == '충청북도 청원군' , 'new_state'] = '충청북도 청주시'  # 옛 지명

In [113]:
# new_state에서 시만 슬라이싱해서 city칼럼에 넣어줌
df2['city'] = df2['new_state'].str.split().str[1]

C:\Users\kh983\AppData\Local\Temp\ipykernel_5276\3592588666.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['city'] = df2['new_state'].str.split().str[1]

In [114]:
# df2통째로 더하기 위해 가공해주기
df2.cctv_cnt[df2.cctv_cnt > 99990] = 0
df2.sclight_cnt[df2.sclight_cnt > 99990] = 0
df2.smalight_cnt[df2.smalight_cnt > 99990] = 0
df2.strlamp_cnt[df2.strlamp_cnt > 99990] = 0
df2.visit_cnt = 0

df2.crime_rate = 0
df2.avg_pop_density = 0
df2.new_state = ''

C:\Users\kh983\AppData\Local\Temp\ipykernel_5276\4282514729.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.cctv_cnt[df2.cctv_cnt > 99990] = 0
C:\Users\kh983\AppData\Local\Temp\ipykernel_5276\4282514729.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.sclight_cnt[df2.sclight_cnt > 99990] = 0
C:\Users\kh983\AppData\Local\Temp\ipykernel_5276\4282514729.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.smalight_cnt[df2.smalight_cnt > 99990] = 0
C:\Users\kh983\AppData\Local\Temp\ipykernel_5276\4282514729.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.strlamp_cnt[df2.strlamp_cnt > 99990] = 0
C:\Users\kh983\AppData\Local\Temp\ipykernel_5276\4282514729.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.visit_cnt = 0
C:\Users\kh983\AppData\Local\Temp\ipykernel_5276\4282514729.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.crime_rate = 0
C:\Users\kh983\AppData\Local\Temp\ipykernel_5276\4282514729.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.avg_pop_density = 0
C:\Users\kh983\AppData\Local\Temp\ipykernel_5276\4282514729.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.new_state = ''

In [115]:
# iloc과 for문을 사용하기 위해 index 재배치
df2.reset_index(drop=True, inplace=True)

In [116]:
#결과물
df2

,state,city,visit_cnt,cctv_cnt,sclight_cnt,smalight_cnt,strlamp_cnt,crime_rate,avg_pop_density,new_state
0,강원도,철원군,0,0.0,1.0,0.0,0.0,0,0,
1,강원도,철원군,0,0.0,10.0,0.0,0.0,0,0,
2,경상남도,거제시,0,0.0,5.0,0.0,0.0,0,0,
3,경상남도,김해시,0,0.0,3.0,0.0,0.0,0,0,
4,경상북도,안동시,0,0.0,1.0,0.0,0.0,0,0,
5,부산광역시,연제구,0,0.0,0.0,0.0,3922.0,0,0,
6,부산광역시,부산진구,0,0.0,0.0,0.0,8258.0,0,0,
7,울산광역시,노원구,0,0.0,0.0,1.0,0.0,0,0,
8,인천광역시,미추홀구,0,0.0,0.0,3.0,0.0,0,0,
9,전라남도,장흥군,0,0.0,1.0,0.0,0.0,0,0,
10,전라남도,장흥군,0,0.0,1.0,0.0,0.0,0,0,
11,전라북도,순창군,0,2.0,0.0,0.0,0.0,0,0,
12,전라북도,고창군,0,0.0,1.0,0.0,0.0,0,0,
13,전라북도,순창군,0,0.0,0.0,3.0,0.0,0,0,
14,전라북도,함양군,0,0.0,0.0,1.0,0.0,0,0,
15,충청남도,평택시,0,13.0,0.0,0.0,0.0,0,0,
16,충청남도,서산시,0,0.0,1.0,0.0,0.0,0,0,
17,충청남도,보은군,0,0.0,0.0,1.0,0.0,0,0,
18,충청남도,연기면,0,0.0,0.0,1.0,0.0,0,0,
19,충청남도,완주군,0,0.0,0.0,1.0,0.0,0,0,
20,충청북도,청주시,0,0.0,0.0,1.0,0.0,0,0,

### df3의 state, city가 df2의 state, city 와 같으면 df3에 df2를 더해주기

In [117]:
df3 = df1.copy()

In [118]:
for j in range(len(df1)):
    for i in range(19):
        if df2.iloc[i,0] == df3.iloc[j,0] and df2.iloc[i,1] == df3.iloc[j,1]:
            df3.iloc[j,3] += df2.iloc[i,3]
            df3.iloc[j,4] += df2.iloc[i,4]
            df3.iloc[j,5] += df2.iloc[i,5]
            df3.iloc[j,6] += df2.iloc[i,6]

In [119]:
# 확인용
df1[df.city=='안동시'] # before

,state,city,visit_cnt,cctv_cnt,sclight_cnt,smalight_cnt,strlamp_cnt,crime_rate,avg_pop_density,new_state
77,경상북도,안동시,10848781.0,858.0,13309.0,6.0,13433.0,0.0451,139.72,경상북도 안동시

In [120]:
df3[df3.city=='안동시'] # after, sclight_cnt만 1늘어났다.

,state,city,visit_cnt,cctv_cnt,sclight_cnt,smalight_cnt,strlamp_cnt,crime_rate,avg_pop_density,new_state
77,경상북도,안동시,10848781.0,858.0,13310.0,6.0,13433.0,0.0451,139.72,경상북도 안동시

In [121]:
df1.loc[df3.city == '미추홀구']  # before

,state,city,visit_cnt,cctv_cnt,sclight_cnt,smalight_cnt,strlamp_cnt,crime_rate,avg_pop_density,new_state
159,인천광역시,미추홀구,22630637.0,1812.0,9052.0,194.0,4407.0,0.0587,2765.64,인천광역시 미추홀구

In [122]:
df3.loc[df3.city == '미추홀구'] # after, smalight_cnt만 3늘어났다.

,state,city,visit_cnt,cctv_cnt,sclight_cnt,smalight_cnt,strlamp_cnt,crime_rate,avg_pop_density,new_state
159,인천광역시,미추홀구,22630637.0,1812.0,9052.0,197.0,4407.0,0.0587,2765.64,인천광역시 미추홀구

### 잘못된 데이터 drop 후 확인

In [123]:
idx = df1[c1|c2|c3|c4|c5|c6|c7|c8|c9|c10|c11|c12|c13|c14|c15|c16|c17|c18|c19|c20|c21].index

In [124]:
df3.drop(idx, axis=0, inplace = True)

In [125]:
state_list = df3.new_state.to_list()

In [126]:
state_list1 = []
for i in state_list:
    try:
        if i[:7] != '세종특별자치시':
            state_list1.append(i)
    except:
        continue
state_list1

['강원도 강릉시',
 '강원도 고성군',
 '강원도 동해시',
 '강원도 삼척시',
 '강원도 속초시',
 '강원도 양구군',
 '강원도 양양군',
 '강원도 영월군',
 '강원도 원주시',
 '강원도 인제군',
 '강원도 정선군',
 '강원도 철원군',
 '강원도 춘천시',
 '강원도 태백시',
 '강원도 평창군',
 '강원도 홍천군',
 '강원도 화천군',
 '강원도 횡성군',
 '경기도 가평군',
 '경기도 고양시',
 '경기도 과천시',
 '경기도 광명시',
 '경기도 광주시',
 '경기도 구리시',
 '경기도 군포시',
 '경기도 김포시',
 '경기도 남양주시',
 '경기도 동두천시',
 '경기도 부천시',
 '경기도 성남시',
 '경기도 수원시',
 '경기도 시흥시',
 '경기도 안산시',
 '경기도 안성시',
 '경기도 안양시',
 '경기도 양주시',
 '경기도 양평군',
 '경기도 여주시',
 '경기도 연천군',
 '경기도 오산시',
 '경기도 용인시',
 '경기도 의왕시',
 '경기도 의정부시',
 '경기도 이천시',
 '경기도 파주시',
 '경기도 평택시',
 '경기도 포천시',
 '경기도 하남시',
 '경기도 화성시',
 '경상남도 거제시',
 '경상남도 거창군',
 '경상남도 고성군',
 '경상남도 김해시',
 '경상남도 남해군',
 '경상남도 밀양시',
 '경상남도 사천시',
 '경상남도 산청군',
 '경상남도 양산시',
 '경상남도 의령군',
 '경상남도 진주시',
 '경상남도 창녕군',
 '경상남도 창원시',
 '경상남도 통영시',
 '경상남도 하동군',
 '경상남도 함안군',
 '경상남도 함양군',
 '경상남도 합천군',
 '경상북도 경산시',
 '경상북도 경주시',
 '경상북도 고령군',
 '경상북도 구미시',
 '경상북도 군위군',
 '경상북도 김천시',
 '경상북도 문경시',
 '경상북도 봉화군',
 '경상북도 상주시',
 '경상북도 성주군',
 '경상북도 안동시',
 '경상북도 영덕군',
 '경상북도 영양군',
 '경상북도 영주시',
 '경상북도 영천시',
 '경상북도 예천군',
 '경상북도 울릉군',
 '경상북도 울진군',
 '경상북도 의성군',
 '경상북도 청도군',
 '경상북도 청송군',
 '경상북도 칠곡군',
 '경상북도 포항시',
 '광주광역시 광산구',
 '광주광역시 남구',
 '광주광역시 동구',
 '광주광역시 북구',
 '광주광역시 서구',
 '대구광역시 남구',
 '대구광역시 달서구',
 '대구광역시 달성군',
 '대구광역시 동구',
 '대구광역시 북구',
 '대구광역시 서구',
 '대구광역시 수성구',
 '대구광역시 중구',
 '대전광역시 대덕구',
 '대전광역시 동구',
 '대전광역시 서구',
 '대전광역시 유성구',
 '대전광역시 중구',
 '부산광역시 강서구',
 '부산광역시 금정구',
 '부산광역시 기장군',
 '부산광역시 남구',
 '부산광역시 동구',
 '부산광역시 동래구',
 '부산광역시 부산진구',
 '부산광역시 북구',
 '부산광역시 사상구',
 '부산광역시 사하구',
 '부산광역시 서구',
 '부산광역시 수영구',
 '부산광역시 연제구',
 '부산광역시 영도구',
 '부산광역시 중구',
 '부산광역시 해운대구',
 '서울특별시 강남구',
 '서울특별시 강동구',
 '서울특별시 강북구',
 '서울특별시 강서구',
 '서울특별시 관악구',
 '서울특별시 광진구',
 '서울특별시 구로구',
 '서울특별시 금천구',
 '서울특별시 노원구',
 '서울특별시 도봉구',
 '서울특별시 동대문구',
 '서울특별시 동작구',
 '서울특별시 마포구',
 '서울특별시 서대문구',
 '서울특별시 서초구',
 '서울특별시 성동구',
 '서울특별시 성북구',
 '서울특별시 송파구',
 '서울특별시 양천구',
 '서울특별시 영등포구',
 '서울특별시 용산구',
 '서울특별시 은평구',
 '서울특별시 종로구',
 '서울특별시 중구',
 '서울특별시 중랑구',
 '울산광역시 남구',
 '울산광역시 동구',
 '울산광역시 북구',
 '울산광역시 울주군',
 '울산광역시 중구',
 '인천광역시 강화군',
 '인천광역시 계양구',
 '인천광역시 남동구',
 '인천광역시 동구',
 '인천광역시 미추홀구',
 '인천광역시 부평구',
 '인천광역시 서구',
 '인천광역시 연수구',
 '인천광역시 옹진군',
 '인천광역시 중구',
 '전라남도 강진군',
 '전라남도 고흥군',
 '전라남도 곡성군',
 '전라남도 광양시',
 '전라남도 구례군',
 '전라남도 나주시',
 '전라남도 담양군',
 '전라남도 목포시',
 '전라남도 무안군',
 '전라남도 보성군',
 '전라남도 순천시',
 '전라남도 신안군',
 '전라남도 여수시',
 '전라남도 영광군',
 '전라남도 영암군',
 '전라남도 완도군',
 '전라남도 장성군',
 '전라남도 장흥군',
 '전라남도 진도군',
 '전라남도 함평군',
 '전라남도 해남군',
 '전라남도 화순군',
 '전라북도 고창군',
 '전라북도 군산시',
 '전라북도 김제시',
 '전라북도 남원시',
 '전라북도 무주군',
 '전라북도 부안군',
 '전라북도 순창군',
 '전라북도 완주군',
 '전라북도 익산시',
 '전라북도 임실군',
 '전라북도 장수군',
 '전라북도 전주시',
 '전라북도 정읍시',
 '전라북도 진안군',
 '제주특별자치도 서귀포시',
 '제주특별자치도 제주시',
 '충청남도 계룡시',
 '충청남도 공주시',
 '충청남도 금산군',
 '충청남도 논산시',
 '충청남도 당진시',
 '충청남도 보령시',
 '충청남도 부여군',
 '충청남도 서산시',
 '충청남도 서천군',
 '충청남도 아산시',
 '충청남도 예산군',
 '충청남도 천안시',
 '충청남도 청양군',
 '충청남도 태안군',
 '충청남도 홍성군',
 '충청북도 괴산군',
 '충청북도 단양군',
 '충청북도 보은군',
 '충청북도 영동군',
 '충청북도 옥천군',
 '충청북도 음성군',
 '충청북도 제천시',
 '충청북도 증평군',
 '충청북도 진천군',
 '충청북도 청주시',
 '충청북도 충주시']

In [127]:
l1 = []
for i in state_list1:
    if i not in correction_list:
        l1.append(i)
print(l1)

[]

In [130]:
df1

,state,city,visit_cnt,cctv_cnt,sclight_cnt,smalight_cnt,strlamp_cnt,crime_rate,avg_pop_density,new_state
0,강원도,강릉시,26334028.0,1699.0,12301.0,64.0,99994.0,0.0271,90.36,강원도 강릉시
1,강원도,고성군,11612683.0,422.0,99992.0,94.0,99994.0,0.0271,90.36,강원도 고성군
2,강원도,동해시,6798468.0,330.0,4555.0,184.0,99994.0,0.0271,90.36,강원도 동해시
3,강원도,삼척시,8614642.0,932.0,7813.0,46.0,99994.0,0.0271,90.36,강원도 삼척시
4,강원도,속초시,19495563.0,441.0,3118.0,99993.0,99994.0,0.0271,90.36,강원도 속초시
...,...,...,...,...,...,...,...,...,...,...
270,충청남도,운산면,NaN,99991.0,1.0,99993.0,99994.0,0.0368,264.24,충청남도 운산면
271,충청남도,보은군,NaN,99991.0,99992.0,1.0,99994.0,0.0368,264.24,충청남도 보은군
272,충청남도,연기군,NaN,99991.0,99992.0,1.0,99994.0,0.0368,264.24,충청남도 연기군
273,충청남도,완주군,NaN,99991.0,99992.0,1.0,99994.0,0.0368,264.24,충청남도 완주군
274,충청북도,청원군,NaN,99991.0,99992.0,1.0,99994.0,0.0299,219.20,충청북도 청원군

### 세종시 00면 데이터를 세종특별자치시 데이터 하나로 통일하기

In [38]:
#22. 03.06
import pandas as pd
df = pd.read_csv('./df_security_concat_5.csv', encoding='cp949').iloc[:,2:]

In [6]:
df1 = df.copy()

In [8]:
df2 = df1.loc[df.state == '세종특별자치시']

In [12]:
df2.cctv_cnt[df2.cctv_cnt > 99990] = 0
df2.sclight_cnt[df2.sclight_cnt > 99990] = 0
df2.smalight_cnt[df2.smalight_cnt > 99990] = 0
df2.strlamp_cnt[df2.strlamp_cnt > 99990] = 0
df2.new_state = '세종특별자치시 세종특별자치시'

C:\Users\kh983\AppData\Local\Temp\ipykernel_14424\903927141.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.cctv_cnt[df2.cctv_cnt > 99990] = 0
C:\Users\kh983\AppData\Local\Temp\ipykernel_14424\903927141.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.sclight_cnt[df2.sclight_cnt > 99990] = 0
C:\Users\kh983\AppData\Local\Temp\ipykernel_14424\903927141.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.smalight_cnt[df2.smalight_cnt > 99990] = 0
C:\Users\kh983\AppData\Local\Temp\ipykernel_14424\903927141.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.strlamp_cnt[df2.strlamp_cnt > 99990] = 0
C:\Users\kh983\AppData\Local\Temp\ipykernel_14424\903927141.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.new_state = '세종특별자치시 세종특별자치시'

In [24]:
a = {
    'visit_cnt' : 'sum',
    'cctv_cnt' : 'sum',
    'sclight_cnt' : 'sum',
    'smalight_cnt' : 'sum',
    'strlamp_cnt' : 'sum',
    'crime_rate' : 'mean',
    'avg_pop_density' : 'mean',
    
}


state_groupby = df2.groupby(['state'], as_index=False).agg(a)
state_groupby['city'] ='세종특별자치시'

In [27]:
sejong_row = state_groupby[['state','city','visit_cnt','cctv_cnt','sclight_cnt','smalight_cnt','strlamp_cnt','crime_rate','avg_pop_density']]

In [28]:
sejong_row

,state,city,visit_cnt,cctv_cnt,sclight_cnt,smalight_cnt,strlamp_cnt,crime_rate,avg_pop_density
0,세종특별자치시,세종특별자치시,18211355.0,1218.0,8029.0,23.0,15458.0,0.0041,708.64

In [30]:
new_df = df1.append(sejong_row, ignore_index = True)

C:\Users\kh983\AppData\Local\Temp\ipykernel_14424\3896072846.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = df1.append(sejong_row, ignore_index = True)

In [19]:
idx = df2.index

In [21]:
len(idx)

25

In [32]:
df1.drop(idx, axis=0, inplace=True)

In [36]:
new_df = df1.append(sejong_row, ignore_index = True)

C:\Users\kh983\AppData\Local\Temp\ipykernel_14424\3896072846.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = df1.append(sejong_row, ignore_index = True)

In [39]:
df

,state,city,visit_cnt,cctv_cnt,sclight_cnt,smalight_cnt,strlamp_cnt,crime_rate,avg_pop_density,new_state
0,강원도,강릉시,26334028.0,1699.0,12301.0,64.0,99994.0,0.0271,90.36,강원도 강릉시
1,강원도,고성군,11612683.0,422.0,99992.0,94.0,99994.0,0.0271,90.36,강원도 고성군
2,강원도,동해시,6798468.0,330.0,4555.0,184.0,99994.0,0.0271,90.36,강원도 동해시
3,강원도,삼척시,8614642.0,932.0,7813.0,46.0,99994.0,0.0271,90.36,강원도 삼척시
4,강원도,속초시,19495563.0,441.0,3118.0,99993.0,99994.0,0.0271,90.36,강원도 속초시
...,...,...,...,...,...,...,...,...,...,...
248,세종특별자치시,전동면,NaN,27.0,821.0,1.0,1919.0,0.0041,708.64,세종특별자치시 전동면
249,세종특별자치시,전의면,NaN,46.0,909.0,2.0,2077.0,0.0041,708.64,세종특별자치시 전의면
250,세종특별자치시,조치원읍,NaN,203.0,1200.0,5.0,455.0,0.0041,708.64,세종특별자치시 조치원읍
251,세종특별자치시,종촌동,NaN,19.0,99992.0,99993.0,38.0,0.0041,708.64,세종특별자치시 종촌동
252,세종특별자치시,한솔동,NaN,40.0,99992.0,99993.0,95.0,0.0041,708.64,세종특별자치시 한솔동

In [44]:
new_df

,state,city,visit_cnt,cctv_cnt,sclight_cnt,smalight_cnt,strlamp_cnt,crime_rate,avg_pop_density,new_state
0,강원도,강릉시,26334028.0,1699.0,12301.0,64.0,99994.0,0.0271,90.36,강원도 강릉시
1,강원도,고성군,11612683.0,422.0,99992.0,94.0,99994.0,0.0271,90.36,강원도 고성군
2,강원도,동해시,6798468.0,330.0,4555.0,184.0,99994.0,0.0271,90.36,강원도 동해시
3,강원도,삼척시,8614642.0,932.0,7813.0,46.0,99994.0,0.0271,90.36,강원도 삼척시
4,강원도,속초시,19495563.0,441.0,3118.0,99993.0,99994.0,0.0271,90.36,강원도 속초시
...,...,...,...,...,...,...,...,...,...,...
224,충청북도,증평군,2848031.0,910.0,3869.0,8.0,99994.0,0.0299,219.20,충청북도 증평군
225,충청북도,진천군,8030068.0,692.0,2.0,99993.0,121.0,0.0299,219.20,충청북도 진천군
226,충청북도,청주시,62425138.0,9.0,25432.0,99993.0,99994.0,0.0299,219.20,충청북도 청주시
227,충청북도,충주시,14797862.0,1578.0,10600.0,219.0,99994.0,0.0299,219.20,충청북도 충주시
228,세종특별자치시,세종특별자치시,18211355.0,1218.0,8029.0,23.0,15458.0,0.0041,708.64,세종특별자치시 세종특별자치시

In [35]:
df1

,state,city,visit_cnt,cctv_cnt,sclight_cnt,smalight_cnt,strlamp_cnt,crime_rate,avg_pop_density,new_state
0,강원도,강릉시,26334028.0,1699.0,12301.0,64.0,99994.0,0.0271,90.36,강원도 강릉시
1,강원도,고성군,11612683.0,422.0,99992.0,94.0,99994.0,0.0271,90.36,강원도 고성군
2,강원도,동해시,6798468.0,330.0,4555.0,184.0,99994.0,0.0271,90.36,강원도 동해시
3,강원도,삼척시,8614642.0,932.0,7813.0,46.0,99994.0,0.0271,90.36,강원도 삼척시
4,강원도,속초시,19495563.0,441.0,3118.0,99993.0,99994.0,0.0271,90.36,강원도 속초시
...,...,...,...,...,...,...,...,...,...,...
224,충청북도,제천시,12125010.0,979.0,9024.0,314.0,99994.0,0.0299,219.20,충청북도 제천시
225,충청북도,증평군,2848031.0,910.0,3869.0,8.0,99994.0,0.0299,219.20,충청북도 증평군
226,충청북도,진천군,8030068.0,692.0,2.0,99993.0,121.0,0.0299,219.20,충청북도 진천군
227,충청북도,청주시,62425138.0,9.0,25432.0,99993.0,99994.0,0.0299,219.20,충청북도 청주시
228,충청북도,충주시,14797862.0,1578.0,10600.0,219.0,99994.0,0.0299,219.20,충청북도 충주시

In [43]:
new_df.iloc[228,9] = '세종특별자치시 세종특별자치시'

In [40]:
correction_list = ['강릉시','고성군','동해시','삼척시','속초시','양구군','양양군','영월군','원주시','인제군','정선군','철원군','춘천시','태백시','평창군','홍천군','화천군','횡성군','가평군','고양시','과천시','광명시','광주시','구리시','군포시','김포시','남양주시','동두천시','부천시','성남시','수원시','시흥시','안산시','안성시','안양시','양주시','양평군','여주시','연천군','오산시','용인시','의왕시','의정부시','이천시','파주시','평택시','포천시','하남시','화성시','거제시','거창군','고성군','김해시','남해군','밀양시','사천시','산청군','양산시','의령군','진주시','창녕군','창원시','통영시','하동군','함안군','함양군','합천군','경산시','경주시','고령군','구미시','군위군','김천시','문경시','봉화군','상주시','성주군','안동시','영덕군','영양군','영주시','영천시','예천군','울릉군','울진군','의성군','청도군','청송군','칠곡군','포항시','광산구','남구','동구','북구','서구','남구','달서구','달성군','동구','북구','서구','수성구','중구','대덕구','동구','서구','유성구','중구','강서구','금정구','기장군','남구','동구','동래구','부산진구','북구','사상구','사하구','서구','수영구','연제구','영도구','중구','해운대구','강남구','강동구','강북구','강서구','관악구','광진구','구로구','금천구','노원구','도봉구','동대문구','동작구','마포구','서대문구','서초구','성동구','성북구','송파구','양천구','영등포구','용산구','은평구','종로구','중구','중랑구','세종특별자치시','남구','동구','북구','울주군','중구','강화군','계양구','남동구','동구','미추홀구','부평구','서구','연수구','옹진군','중구','강진군','고흥군','곡성군','광양시','구례군','나주시','담양군','목포시','무안군','보성군','순천시','신안군','여수시','영광군','영암군','완도군','장성군','장흥군','진도군','함평군','해남군','화순군','고창군','군산시','김제시','남원시','무주군','부안군','순창군','완주군','익산시','임실군','장수군','전주시','정읍시','진안군','서귀포시','제주시','계룡시','공주시','금산군','논산시','당진시','보령시','부여군','서산시','서천군','아산시','예산군','천안시','청양군','태안군','홍성군','괴산군','단양군','보은군','영동군','옥천군','음성군','제천시','증평군','진천군','청주시','충주시']

In [41]:
state_list1 = new_df.city.tolist()

In [42]:
# 올바르지 않은 new_state값 추출
l1 = []
for i in state_list1:
    if i not in correction_list:
        l1.append(i)
print(l1)

[]

In [45]:
df3 = pd.read_csv('./체류특성_전처리_효경2.csv', encoding='cp949')[]

In [51]:
df3

    state city  mean_hours  mean_days
0     강원도  강릉시      324.40      1.620
1     강원도  고성군      375.20      1.560
2     강원도  동해시      287.00      1.700
3     강원도  삼척시      318.60      1.680
4     강원도  속초시      280.20      1.400
..    ...  ...         ...        ...
224  충청북도  제천시      324.80      1.600
225  충청북도  증평군      233.00      1.680
226  충청북도  진천군      258.00      1.700
227  충청북도  청주시      208.15      1.765
228  충청북도  충주시      296.80      1.640

[229 rows x 4 columns]

In [48]:
pd.concat?

In [61]:
new_df = new_df.sort_values(by=['state', 'city'])

In [62]:
pd.concat([new_df, df3], axis=1,)

,state,city,visit_cnt,cctv_cnt,sclight_cnt,smalight_cnt,strlamp_cnt,crime_rate,avg_pop_density,new_state,state,city,mean_hours,mean_days
0,강원도,강릉시,26334028.0,1699.0,12301.0,64.0,99994.0,0.0271,90.36,강원도 강릉시,강원도,강릉시,324.40,1.620
1,강원도,고성군,11612683.0,422.0,99992.0,94.0,99994.0,0.0271,90.36,강원도 고성군,강원도,고성군,375.20,1.560
2,강원도,동해시,6798468.0,330.0,4555.0,184.0,99994.0,0.0271,90.36,강원도 동해시,강원도,동해시,287.00,1.700
3,강원도,삼척시,8614642.0,932.0,7813.0,46.0,99994.0,0.0271,90.36,강원도 삼척시,강원도,삼척시,318.60,1.680
4,강원도,속초시,19495563.0,441.0,3118.0,99993.0,99994.0,0.0271,90.36,강원도 속초시,강원도,속초시,280.20,1.400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,충청북도,제천시,12125010.0,979.0,9024.0,314.0,99994.0,0.0299,219.20,충청북도 제천시,충청북도,음성군,281.60,1.780
224,충청북도,증평군,2848031.0,910.0,3869.0,8.0,99994.0,0.0299,219.20,충청북도 증평군,충청북도,제천시,324.80,1.600
225,충청북도,진천군,8030068.0,692.0,2.0,99993.0,121.0,0.0299,219.20,충청북도 진천군,충청북도,증평군,233.00,1.680
226,충청북도,청주시,62425138.0,9.0,25432.0,99993.0,99994.0,0.0299,219.20,충청북도 청주시,충청북도,진천군,258.00,1.700
227,충청북도,충주시,14797862.0,1578.0,10600.0,219.0,99994.0,0.0299,219.20,충청북도 충주시,충청북도,청주시,208.15,1.765

In [74]:
df_security_concat = pd.read_csv('./df_security_concat_6.csv', encoding='cp949')

In [71]:
df_security_concat[~(df_security_concat.new_state.str.split().str[1] == df_security_concat.city)]

Empty DataFrame
Columns: [state, city, visit_cnt, cctv_cnt, sclight_cnt, smalight_cnt, strlamp_cnt, crime_rate, avg_pop_density, new_state, mean_hours, mean_days]
Index: []

In [72]:
df_security_concat.drop('new_state', axis=1, inplace=True)

In [81]:
df_security_concat1 = df_security_concat[['state','city','visit_cnt','cctv_cnt','sclight_cnt','smalight_cnt','crime_rate','avg_pop_density','mean_hours','mean_days','new_state']]
df_security_concat1

,state,city,visit_cnt,cctv_cnt,sclight_cnt,smalight_cnt,crime_rate,avg_pop_density,mean_hours,mean_days,new_state
0,강원도,강릉시,26334028.0,1699.0,12301.0,64.0,0.0271,90.36,324.40,1.620,강원도 강릉시
1,강원도,고성군,11612683.0,422.0,NaN,94.0,0.0271,90.36,375.20,1.560,강원도 고성군
2,강원도,동해시,6798468.0,330.0,4555.0,184.0,0.0271,90.36,287.00,1.700,강원도 동해시
3,강원도,삼척시,8614642.0,932.0,7813.0,46.0,0.0271,90.36,318.60,1.680,강원도 삼척시
4,강원도,속초시,19495563.0,441.0,3118.0,NaN,0.0271,90.36,280.20,1.400,강원도 속초시
...,...,...,...,...,...,...,...,...,...,...,...
224,충청북도,제천시,12125010.0,979.0,9024.0,314.0,0.0299,219.20,324.80,1.600,충청북도 제천시
225,충청북도,증평군,2848031.0,910.0,3869.0,8.0,0.0299,219.20,233.00,1.680,충청북도 증평군
226,충청북도,진천군,8030068.0,692.0,2.0,NaN,0.0299,219.20,258.00,1.700,충청북도 진천군
227,충청북도,청주시,62425138.0,9.0,25432.0,NaN,0.0299,219.20,208.15,1.765,충청북도 청주시
228,충청북도,충주시,14797862.0,1578.0,10600.0,219.0,0.0299,219.20,296.80,1.640,충청북도 충주시

In [79]:
df_security_concat1.to_csv('./df_security_concat_7.csv', encoding='cp949')

In [82]:
df_security_concat1

,state,city,visit_cnt,cctv_cnt,sclight_cnt,smalight_cnt,crime_rate,avg_pop_density,mean_hours,mean_days,new_state
0,강원도,강릉시,26334028.0,1699.0,12301.0,64.0,0.0271,90.36,324.40,1.620,강원도 강릉시
1,강원도,고성군,11612683.0,422.0,NaN,94.0,0.0271,90.36,375.20,1.560,강원도 고성군
2,강원도,동해시,6798468.0,330.0,4555.0,184.0,0.0271,90.36,287.00,1.700,강원도 동해시
3,강원도,삼척시,8614642.0,932.0,7813.0,46.0,0.0271,90.36,318.60,1.680,강원도 삼척시
4,강원도,속초시,19495563.0,441.0,3118.0,NaN,0.0271,90.36,280.20,1.400,강원도 속초시
...,...,...,...,...,...,...,...,...,...,...,...
224,충청북도,제천시,12125010.0,979.0,9024.0,314.0,0.0299,219.20,324.80,1.600,충청북도 제천시
225,충청북도,증평군,2848031.0,910.0,3869.0,8.0,0.0299,219.20,233.00,1.680,충청북도 증평군
226,충청북도,진천군,8030068.0,692.0,2.0,NaN,0.0299,219.20,258.00,1.700,충청북도 진천군
227,충청북도,청주시,62425138.0,9.0,25432.0,NaN,0.0299,219.20,208.15,1.765,충청북도 청주시
228,충청북도,충주시,14797862.0,1578.0,10600.0,219.0,0.0299,219.20,296.80,1.640,충청북도 충주시

In [ ]:
df3 # 21개 행 없어짐

### 시도별 top5 데이터 선별하기

In [1]:
import pandas as pdcon
import numpy as np

In [2]:
df7 = pd.read_csv('./df_security_concat_7.csv', encoding='cp949')

In [3]:
df7

,Unnamed: 0,state,city,visit_cnt,cctv_cnt,sclight_cnt,smalight_cnt,strlamp_cnt,crime_rate,avg_pop_density,mean_hours,mean_days,new_state
0,0,강원도,강릉시,26334028.0,1699.0,12301.0,64.0,NaN,0.0271,90.36,324.40,1.620,강원도 강릉시
1,1,강원도,고성군,11612683.0,422.0,NaN,94.0,NaN,0.0271,90.36,375.20,1.560,강원도 고성군
2,2,강원도,동해시,6798468.0,330.0,4555.0,184.0,NaN,0.0271,90.36,287.00,1.700,강원도 동해시
3,3,강원도,삼척시,8614642.0,932.0,7813.0,46.0,NaN,0.0271,90.36,318.60,1.680,강원도 삼척시
4,4,강원도,속초시,19495563.0,441.0,3118.0,NaN,NaN,0.0271,90.36,280.20,1.400,강원도 속초시
...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,224,충청북도,제천시,12125010.0,979.0,9024.0,314.0,NaN,0.0299,219.20,324.80,1.600,충청북도 제천시
225,225,충청북도,증평군,2848031.0,910.0,3869.0,8.0,NaN,0.0299,219.20,233.00,1.680,충청북도 증평군
226,226,충청북도,진천군,8030068.0,692.0,2.0,NaN,121.0,0.0299,219.20,258.00,1.700,충청북도 진천군
227,227,충청북도,청주시,62425138.0,9.0,25432.0,NaN,NaN,0.0299,219.20,208.15,1.765,충청북도 청주시
228,228,충청북도,충주시,14797862.0,1578.0,10600.0,219.0,NaN,0.0299,219.20,296.80,1.640,충청북도 충주시

In [4]:
df7_state_unique = df7.state.unique().tolist()

In [5]:
df7_state_unique

['강원도',
 '경기도',
 '경상남도',
 '경상북도',
 '광주광역시',
 '대구광역시',
 '대전광역시',
 '부산광역시',
 '서울특별시',
 '세종특별자치시',
 '울산광역시',
 '인천광역시',
 '전라남도',
 '전라북도',
 '제주특별자치도',
 '충청남도',
 '충청북도']

In [6]:
def top5(state_name):
    df_top5= df7[df7.state==state_name].sort_values(by='mean_hours' ,ascending=False).head(5)
    return df_top5

In [7]:
top5_list = []
for state_name in df7_state_unique:
    top5_list.append(top5(state_name).new_state.tolist())

In [8]:
top5_list

[['강원도 정선군', '강원도 평창군', '강원도 홍천군', '강원도 양구군', '강원도 고성군'],
 ['경기도 가평군', '경기도 연천군', '경기도 평택시', '경기도 포천시', '경기도 화성시'],
 ['경상남도 거제시', '경상남도 남해군', '경상남도 함양군', '경상남도 산청군', '경상남도 통영시'],
 ['경상북도 울릉군', '경상북도 영양군', '경상북도 울진군', '경상북도 영주시', '경상북도 봉화군'],
 ['광주광역시 남구', '광주광역시 광산구', '광주광역시 북구', '광주광역시 서구', '광주광역시 동구'],
 ['대구광역시 달서구', '대구광역시 북구', '대구광역시 달성군', '대구광역시 수성구', '대구광역시 동구'],
 ['대전광역시 유성구', '대전광역시 서구', '대전광역시 대덕구', '대전광역시 동구', '대전광역시 중구'],
 ['부산광역시 사하구', '부산광역시 북구', '부산광역시 해운대구', '부산광역시 남구', '부산광역시 금정구'],
 ['서울특별시 관악구', '서울특별시 은평구', '서울특별시 금천구', '서울특별시 강북구', '서울특별시 성북구'],
 ['세종특별자치시 세종특별자치시'],
 ['울산광역시 동구', '울산광역시 울주군', '울산광역시 북구', '울산광역시 남구', '울산광역시 중구'],
 ['인천광역시 옹진군', '인천광역시 강화군', '인천광역시 서구', '인천광역시 연수구', '인천광역시 남동구'],
 ['전라남도 고흥군', '전라남도 완도군', '전라남도 신안군', '전라남도 여수시', '전라남도 진도군'],
 ['전라북도 부안군', '전라북도 장수군', '전라북도 군산시', '전라북도 익산시', '전라북도 남원시'],
 ['제주특별자치도 제주시', '제주특별자치도 서귀포시'],
 ['충청남도 태안군', '충청남도 보령시', '충청남도 청양군', '충청남도 서산시', '충청남도 아산시'],
 ['충청북도 제천시', '충청북도 보은군', '충청북도 충주시', '충청북도 영동군', '충청북도 단양군']]

### top5 데이터만 모아서 결합하기

In [81]:
# 뻘짓
l2=[]
for j in range(17):
    state_name = top5_list[j][0].split()[0]
    l1 = []
    for column in df.iloc[:,3:7].columns:
        l1.append(df7.loc[df7.state == state_name,column].median())
    l2.append(l1)
        
l2

[[8409174.0, 425.0, 4391.0, 46.0],
 [22165414.0, 1813.5, 9993.5, 321.0],
 [7892017.5, 1074.0, 6994.0, 62.0],
 [7170584.0, 843.0, 8229.0, 28.0],
 [21537937.0, 81.0, 9913.0, 48.0],
 [26030685.5, 1438.5, 9976.0, 48.0],
 [20269458.0, 738.0, 12589.0, 66.5],
 [16314034.5, 584.0, 4479.5, 25.0],
 [29049617.0, 1411.0, 8646.0, 849.0],
 [18211355.0, 1218.0, 8029.0, 23.0],
 [13739394.0, 762.0, 5082.0, 484.0],
 [24539676.5, 844.5, 5117.0, 292.5],
 [5803056.5, 448.0, 7134.5, 38.5],
 [6994697.5, 454.0, 7761.5, 50.0],
 [45535143.0, 580.0, 16771.0, 71.0],
 [9658307.0, 976.5, 9794.0, 62.0],
 [6815705.0, 640.0, 6349.0, 112.0]]

In [82]:
len(l2)

17

In [ ]:
df = df7[df7.new_state.isin(top5_list[1])]

In [83]:
data_df = df7.iloc[]

,Unnamed: 0,state,city,visit_cnt,cctv_cnt,sclight_cnt,smalight_cnt,strlamp_cnt,crime_rate,avg_pop_density,mean_hours,mean_days,new_state
0,0,강원도,강릉시,26334028.0,1699.0,12301.0,64.0,NaN,0.0271,90.36,324.40,1.620,강원도 강릉시
1,1,강원도,고성군,11612683.0,422.0,NaN,94.0,NaN,0.0271,90.36,375.20,1.560,강원도 고성군
2,2,강원도,동해시,6798468.0,330.0,4555.0,184.0,NaN,0.0271,90.36,287.00,1.700,강원도 동해시
3,3,강원도,삼척시,8614642.0,932.0,7813.0,46.0,NaN,0.0271,90.36,318.60,1.680,강원도 삼척시
4,4,강원도,속초시,19495563.0,441.0,3118.0,NaN,NaN,0.0271,90.36,280.20,1.400,강원도 속초시
...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,224,충청북도,제천시,12125010.0,979.0,9024.0,314.0,NaN,0.0299,219.20,324.80,1.600,충청북도 제천시
225,225,충청북도,증평군,2848031.0,910.0,3869.0,8.0,NaN,0.0299,219.20,233.00,1.680,충청북도 증평군
226,226,충청북도,진천군,8030068.0,692.0,2.0,NaN,121.0,0.0299,219.20,258.00,1.700,충청북도 진천군
227,227,충청북도,청주시,62425138.0,9.0,25432.0,NaN,NaN,0.0299,219.20,208.15,1.765,충청북도 청주시
228,228,충청북도,충주시,14797862.0,1578.0,10600.0,219.0,NaN,0.0299,219.20,296.80,1.640,충청북도 충주시

In [26]:
len(top5_list)

17

In [ ]:
data_df = pd.read_csv('./df_security_concat_중앙값대체완료.csv',encoding='cp949')

In [86]:
data_df = data_df.iloc[:,2:]

In [ ]:
data_df

### 데이터 개수 확인

In [95]:
top5_list
a = 0
for i in range(17):
    a += len(top5_list[i])

In [96]:
a

78

In [99]:
df1 = data_df[data_df.new_state.isin(top5_list[0])].sort_values(by='mean_hours' ,ascending=False)
df2 = data_df[data_df.new_state.isin(top5_list[1])].sort_values(by='mean_hours' ,ascending=False)
df3 = data_df[data_df.new_state.isin(top5_list[2])].sort_values(by='mean_hours' ,ascending=False)
df4 = data_df[data_df.new_state.isin(top5_list[3])].sort_values(by='mean_hours' ,ascending=False)
df5 = data_df[data_df.new_state.isin(top5_list[4])].sort_values(by='mean_hours' ,ascending=False)
df6 = data_df[data_df.new_state.isin(top5_list[5])].sort_values(by='mean_hours' ,ascending=False)
df7 = data_df[data_df.new_state.isin(top5_list[6])].sort_values(by='mean_hours' ,ascending=False)
df8 = data_df[data_df.new_state.isin(top5_list[7])].sort_values(by='mean_hours' ,ascending=False)
df9 = data_df[data_df.new_state.isin(top5_list[8])].sort_values(by='mean_hours' ,ascending=False)
df10 = data_df[data_df.new_state.isin(top5_list[9])].sort_values(by='mean_hours' ,ascending=False)
df11 = data_df[data_df.new_state.isin(top5_list[10])].sort_values(by='mean_hours' ,ascending=False)
df12 = data_df[data_df.new_state.isin(top5_list[11])].sort_values(by='mean_hours' ,ascending=False)
df13 = data_df[data_df.new_state.isin(top5_list[12])].sort_values(by='mean_hours' ,ascending=False)
df14 = data_df[data_df.new_state.isin(top5_list[13])].sort_values(by='mean_hours' ,ascending=False)
df15 = data_df[data_df.new_state.isin(top5_list[14])].sort_values(by='mean_hours' ,ascending=False)
df16 = data_df[data_df.new_state.isin(top5_list[15])].sort_values(by='mean_hours' ,ascending=False)
df17 = data_df[data_df.new_state.isin(top5_list[16])].sort_values(by='mean_hours' ,ascending=False)

l1 = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17]

In [103]:
df9 = pd.concat(l1, ignore_index=True)

In [104]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
df9

,state,city,visit_cnt,cctv_cnt,sclight_cnt,smalight_cnt,crime_rate,avg_pop_density,mean_hours,mean_days,new_state
0,강원도,정선군,8151609,515.0,4391.0,13.0,0.0271,90.36,427.8,1.62,강원도 정선군
1,강원도,평창군,13399820,190.0,6747.0,46.0,0.0271,90.36,395.8,1.62,강원도 평창군
2,강원도,홍천군,15125927,428.0,1191.0,37.0,0.0271,90.36,388.8,1.54,강원도 홍천군
3,강원도,양구군,1828609,296.0,190.0,22.0,0.0271,90.36,387.2,1.80,강원도 양구군
4,강원도,고성군,11612683,422.0,4391.0,94.0,0.0271,90.36,375.2,1.56,강원도 고성군
5,경기도,가평군,22165414,425.0,9119.0,206.0,0.2489,1303.40,316.6,1.36,경기도 가평군
6,경기도,연천군,5752900,530.0,4675.0,147.0,0.2489,1303.40,284.8,1.52,경기도 연천군
7,경기도,평택시,24993680,2321.0,10561.0,1740.0,0.2489,1303.40,283.4,1.88,경기도 평택시
8,경기도,포천시,21473221,1400.0,10000.0,34.0,0.2489,1303.40,263.4,1.58,경기도 포천시
9,경기도,화성시,52221879,11327.0,17499.0,46.0,0.2489,1303.40,232.6,1.84,경기도 화성시
10,경상남도,거제시,17161520,695.0,8562.0,75.0,0.0722,316.54,335.8,1.76,경상남도 거제시
11,경상남도,남해군,8308463,840.0,6154.0,56.0,0.0722,316.54,326.2,1.46,경상남도 남해군
12,경상남도,함양군,4254845,584.0,5037.0,49.0,0.0722,316.54,323.2,1.62,경상남도 함양군
13,경상남도,산청군,6766942,952.0,7611.0,18.0,0.0722,316.54,299.0,1.48,경상남도 산청군
14,경상남도,통영시,12995256,2030.0,6150.0,77.0,0.0722,316.54,291.8,1.46,경상남도 통영시
15,경상북도,울릉군,1550183,103.0,4391.0,46.0,0.0451,139.72,594.8,2.38,경상북도 울릉군
16,경상북도,영양군,1383464,361.0,3649.0,46.0,0.0451,139.72,421.2,1.76,경상북도 영양군
17,경상북도,울진군,6649839,446.0,12020.0,77.0,0.0451,139.72,380.6,1.62,경상북도 울진군
18,경상북도,영주시,6101190,770.0,4391.0,46.0,0.0451,139.72,333.8,1.70,경상북도 영주시
19,경상북도,봉화군,3340126,843.0,6137.0,11.0,0.0451,139.72,332.2,1.68,경상북도 봉화군
20,광주광역시,남구,11754137,49.0,10854.0,16.0,0.0283,2964.74,232.6,1.88,광주광역시 남구
21,광주광역시,광산구,23058395,726.0,10272.0,101.0,0.0283,2964.74,230.0,1.84,광주광역시 광산구
22,광주광역시,북구,21537937,813.0,9913.0,48.0,0.0283,2964.74,226.0,1.86,광주광역시 북구
23,광주광역시,서구,25262298,51.0,7199.0,62.0,0.0283,2964.74,192.6,1.76,광주광역시 서구
24,광주광역시,동구,17787826,81.0,3958.0,28.0,0.0283,2964.74,159.8,1.86,광주광역시 동구
25,대구광역시,달서구,30276440,1837.0,10047.0,63.0,0.0494,2744.80,223.6,1.86,대구광역시 달서구
26,대구광역시,북구,24537397,1943.0,10873.0,34.0,0.0494,2744.80,213.8,1.86,대구광역시 북구
27,대구광역시,달성군,17945462,1583.0,9905.0,9.0,0.0494,2744.80,210.4,1.86,대구광역시 달성군
28,대구광역시,수성구,27523974,2471.0,11617.0,62.0,0.0494,2744.80,198.2,1.86,대구광역시 수성구
29,대구광역시,동구,31917750,1294.0,14576.0,69.0,0.0494,2744.80,180.4,1.76,대구광역시 동구
30,대전광역시,유성구,27320667,581.0,8595.0,72.0,0.0307,2781.58,219.6,1.86,대전광역시 유성구
31,대전광역시,서구,28856747,757.0,15407.0,67.0,0.0307,2781.58,219.0,1.84,대전광역시 서구
32,대전광역시,대덕구,10395456,893.0,8295.0,66.0,0.0307,2781.58,203.0,1.76,대전광역시 대덕구
33,대전광역시,동구,14914106,581.0,15122.0,66.5,0.0307,2781.58,189.2,1.74,대전광역시 동구
34,대전광역시,중구,20269458,738.0,12589.0,35.0,0.0307,2781.58,185.4,1.74,대전광역시 중구
35,부산광역시,사하구,13128200,517.0,5549.0,25.0,0.0767,4378.44,218.0,1.94,부산광역시 사하구
36,부산광역시,북구,12227947,746.0,3803.0,70.0,0.0767,4378.44,196.4,1.90,부산광역시 북구
37,부산광역시,해운대구,41781617,899.0,3640.0,11.0,0.0767,4378.44,195.0,1.84,부산광역시 해운대구
38,부산광역시,남구,15577364,1.0,4516.0,76.0,0.0767,4378.44,191.4,1.88,부산광역시 남구
39,부산광역시,금정구,16931732,35.0,4775.0,9.0,0.0767,4378.44,189.2,1.84,부산광역시 금정구
40,서울특별시,관악구,28871647,1662.0,12401.0,988.0,0.1929,15899.10,243.2,1.90,서울특별시 관악구
41,서울특별시,은평구,18163752,2804.0,8646.0,1067.0,0.1929,15899.10,230.8,1.96,서울특별시 은평구
42,서울특별시,금천구,17887377,778.0,6301.0,709.0,0.1929,15899.10,227.6,1.86,서울특별시 금천구
43,서울특별시,강북구,18389096,2300.0,9777.0,22.0,0.1929,15899.10,215.8,1.82,서울특별시 강북구
44,서울특별시,성북구,23093998,1682.0,10000.0,1040.0,0.1929,15899.10,213.2,1.88,서울특별시 성북구
45,세종특별자치시,세종특별자치시,18211355,1218.0,8029.0,23.0,0.0041,708.64,290.4,1.80,세종특별자치시 세종특별자치시
46,울산광역시,동구,8656125,1376.0,2504.0,454.0,0.0136,1074.94,235.8,1.88,울산광역시 동구
47,울산광역시,울주군,20883111,731.0,14157.0,466.0,0.0136,1074.94,211.6,1.80,울산광역시 울주군
48,울산광역시,북구,13739394,762.0,4413.0,484.0,0.0136,1074.94,198.6,1.92,울산광역시 북구
49,울산광역시,남구,23391189,3467.0,6314.0,807.0,0.0136,1074.94,183.2,1.88,울산광역시 남구
50,울산광역시,중구,11762026,730.0,5082.0,730.0,0.0136,1074.94,159.2,1.92,울산광역시 중구
51,인천광역시,옹진군,5335076,130.0,5117.0,11.0,0.0587,2765.64,384.8,1.78,인천광역시 옹진군
52,인천광역시,강화군,14278033,743.0,9978.0,296.0,0.0587,2765.64,267.8,1.46,인천광역시 강화군
53,인천광역시,서구,26448716,1382.0,5117.0,997.0,0.0587,2765.64,228.8,1.96,인천광역시 서구
54,인천광역시,연수구,27682375,688.0,1895.0,119.0,0.0587,2765.64,214.8,1.88,인천광역시 연수구
55,인천광역시,남동구,31589189,1147.0,6726.0,83.0,0.0587,2765.64,207.6,1.86,인천광역시 남동구
56,전라남도,고흥군,6272801,815.0,7134.5,55.0,0.0343,144.78,375.4,1.64,전라남도 고흥군
57,전라남도,완도군,4462985,334.0,6816.0,38.5,0.0343,144.78,368.2,1.80,전라남도 완도군
58,전라남도,신안군,5041641,448.0,8233.0,38.5,0.0343,144.78,343.6,1.80,전라남도 신안군
59,전라남도,여수시,22749986,995.0,20630.0,139.0,0.0343,144.78,338.8,1.58,전라남도 여수시
60,전라남도,진도군,3988482,968.0,7243.0,14.0,0.0343,144.78,320.4,1.74,전라남도 진도군
61,전라북도,부안군,8348346,307.0,8972.0,23.0,0.0324,224.08,333.0,1.58,전라북도 부안군
62,전라북도,장수군,2188173,335.0,2597.0,23.0,0.0324,224.08,312.4,1.64,전라북도 장수군
63,전라북도,군산시,14570140,2096.0,17676.0,69.0,0.0324,224.08,294.6,1.70,전라북도 군산시
64,전라북도,익산시,11833840,904.0,18203.0,18.0,0.0324,224.08,285.6,1.76,전라북도 익산시
65,전라북도,남원시,7050244,1.0,297.0,9.0,0.0324,224.08,285.4,1.64,전라북도 남원시
66,제주특별자치도,제주시,51413358,932.0,26295.0,71.0,0.0189,357.70,362.2,1.88,제주특별자치도 제주시
67,제주특별자치도,서귀포시,39656928,228.0,7247.0,71.0,0.0189,357.70,361.4,1.86,제주특별자치도 서귀포시
68,충청남도,태안군,16666400,3651.0,1740.0,37.0,0.0368,264.24,398.6,1.42,충청남도 태안군
69,충청남도,보령시,14844914,756.0,11057.0,37.0,0.0368,264.24,333.0,1.60,충청남도 보령시
70,충청남도,청양군,3481715,375.0,6735.0,62.0,0.0368,264.24,295.8,1.54,충청남도 청양군
71,충청남도,서산시,10572464,1080.0,13080.0,728.0,0.0368,264.24,278.0,1.70,충청남도 서산시
72,충청남도,아산시,21636895,3125.0,24098.0,1.0,0.0368,264.24,271.6,1.74,충청남도 아산시
73,충청북도,제천시,12125010,979.0,9024.0,314.0,0.0299,219.20,324.8,1.60,충청북도 제천시
74,충청북도,보은군,4737641,316.0,6349.0,99.0,0.0299,219.20,298.2,1.54,충청북도 보은군
75,충청북도,충주시,14797862,1578.0,10600.0,219.0,0.0299,219.20,296.8,1.64,충청북도 충주시
76,충청북도,영동군,4133509,1.0,6076.0,112.0,0.0299,219.20,296.4,1.64,충청북도 영동군
77,충청북도,단양군,6679972,287.0,1499.0,21.0,0.0299,219.20,283.2,1.48,충청북도 단양군

In [106]:
df9.to_csv?

In [107]:
df9.to_csv('./df_security_concat_9.csv', encoding='cp949', index=False)

In [137]:
df3.to_csv('./df_security_concat-4.csv',encoding='cp949')

In [ ]:
# end_of_file